<div class=" flex flex-col gap-1">


  <mat-card>
    <mat-card-content>
      <app-load-data-list [timestamp]="ts" [url]="url" (onSelect)="setSelectedItems($event)"
        (onSelect)="setSelectedItems($event)" [getActions]="getActions" [specialClasses]="specialClasses">
        <ng-template #selectionOptions>
          <div class="flex gap-1">
            <app-export-table [objects]="selectedItems"></app-export-table>
          </div>
        </ng-template>
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>
