/* sidebar-menu.component.css */
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-expansion-panel {
  border-radius: 0px;
  box-shadow: none;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.mdc-list-item__primary-text {
  /* text-overflow: ellipsis; */
  white-space: normal !important;
  overflow: visible !important;
}
