.header {
    padding-top: 16px;
}

button {
    height: 35px;
    width: 145px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link {
    color: #1e4a8d !important;
    text-decoration: none;
    padding: 16px 0px 8px 0px !important;
}

.mat-mdc-button {
    margin-top: 8px;
    margin-bottom: 8px
}