<div class="timeline">
    <div class="full-width" *ngFor="let listItem of list">
        <div class="timeline-date">{{listItem.date}}</div>
        <div class="timeline-content" *ngFor="let event of listItem.events">
            <span class="timeline-time">{{event.time}} </span>
            <span class="timeline-data">
                {{ event.event | translate }}
                <div class="proof_btn">
                    <app-proof-of-delivery *ngIf="event.event === 'Delivered'"
                        [type]="'Delivery'"></app-proof-of-delivery>
                    <app-proof-of-delivery *ngIf="event.event === 'Collected'"
                        [type]="'Collection'"></app-proof-of-delivery>
                </div>
            </span>
            <div>
            </div>
        </div>
    </div>
</div>