<div class="flex-col gap-4">
  <mat-card *ngIf="!id && !selectedPractitioner">
    <mat-card-header>
      <mat-card-title>Select Practitioner</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <label >Date: <input (change)="updateUrlYear()" (keyup)="updateUrlYear()" name="date" [(ngModel)]="date" type="date"  > </label>
      <app-load-data-list [timestamp]="ts" [url]="practitionerSearchUrl" [getActions]="getActions" [preload]="false"
        [rowSelection]="'single'" [searchParam]="practitionerUuid" [showExport]="false" [showInfo]="false"
        [showPagination]="false" >
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="id || selectedPractitioner">
    <mat-card-content>
      <app-form-generator [url]="formUrl" [fields]="fields" [existingObjectUrl]="existingUrl"
        (onSubmit)="formSubmitted($event)" [id]="id" [extraData]="extraFormData" [retainExtraFields]="fieldsToRetain">
      </app-form-generator>
    </mat-card-content>
  </mat-card>
</div>
