<div class=" flex flex-col gap-1">

  <a *ngIf="showAddButton" class="self-start" mat-raised-button color="primary" routerLink="/licenses/facilities">Add a
    new facility</a>

  <mat-card>
    <mat-card-header>
      <app-select-license-type *ngIf="showSelectLicenseType" [licenseType]="licenseType"
        (licenseTypeChanged)="onLicenseTypeChange($event)"></app-select-license-type>
    </mat-card-header>
    <mat-card-content>
      <app-load-data-list *ngIf="licenseType" [preload]="false" [showSearch]="showSearch" [timestamp]="ts" [url]="url"
        (onSelect)="setSelectedItems($event)" (selectionChanged)="setSelectedItems($event)" [getActions]="getActions"
        [specialClasses]="specialClasses">
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>