<div class=" flex flex-col gap-1">


  <mat-card>
    <mat-card-header>
      <app-select-license-type *ngIf="showSelectLicenseType" [licenseType]="licenseType"
        (licenseTypeChanged)="onLicenseTypeChange($event)"></app-select-license-type>
    </mat-card-header>
    <mat-card-content>
      <app-load-data-list #dataList *ngIf="licenseType" [preload]="true" [showSearch]="showSearch" [timestamp]="ts"
        [url]="url" (onSelect)="setSelectedItems($event)" (selectionChanged)="setSelectedItems($event)"
        [getActions]="getActions" [showReset]="false" [specialClasses]="specialClasses"
        [onFilterSubmitted]="filterSubmitted" [useResponseFilters]="false" [filters]="filters" [showAllFilters]="true"
        [showSearch]="false" [showTableTitle]="false">
        <ng-template #selectionOptions>
          <app-add-guest-user [objects]="selectedItems" [userType]="'license'" [usernameField]="'license_number'"
            [profileTableName]="'licenses'"></app-add-guest-user>
        </ng-template>
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>
