<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="generalFormGroup">
    <ng-template matStepLabel>General Information</ng-template>
    <form [formGroup]="generalFormGroup">
      <div class="flex flex-col gap-1 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>Form Name</mat-label>
          <input matInput formControlName="form_name" name="form_name" required>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('form_name')?.hasError('required')">Required
            field</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" name="description" required></textarea>
          <!-- <input matInput formControlName="description" name="description" required> -->
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('description')?.hasError('required')">Required
            field</mat-error>
        </mat-form-field>

        <div class="flex flex-col gap-1">
          <label>Cover Image</label>
          <p class="text-sm text-gray-400">This picture will be displayed as a cover image for users who would be
            filling the form</p>
          <app-file-uploader (onFilesSelected)="onFileSelected($event)"
            [existingImage]="generalFormGroup.get('picture')?.value || null"></app-file-uploader>
        </div>


        <div class="flex flex-col gap-1">
          <label>Available externally</label>
          <mat-form-field class="flex-auto">
            <mat-select formControlName="available_externally" name="available_externally" appearance="outline">
              <mat-option value="1">Yes</mat-option>
              <mat-option value="0">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <div class="flex flex-col gap-1">
          <app-mat-datepicker [label]="'Open From'"
            [initialDate]="generalFormGroup.get('open_date')?.value || undefined"
            (onFinish)="setFormField('general','open_date', $event)"></app-mat-datepicker>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('open_date')?.hasError('required')">Required
            field</mat-error>

        </div>
        <div class="flex flex-col gap-1">
          <app-mat-datepicker [label]="'Closes On'"
            [initialDate]="generalFormGroup.get('close_date')?.value || undefined"
            (onFinish)="setFormField('general','close_date', $event)"></app-mat-datepicker>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('close_date')?.hasError('required')">Required
            field</mat-error>

        </div>

      </div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="guidlinesFormGroup">
    <ng-template matStepLabel>Guidelines</ng-template>
    <form [formGroup]="guidlinesFormGroup">
      <label for="">(Optional) Type any instructions you want your users to read about the form before they fill it.
        This
        will be available as a link on the form.
      </label>
      <app-ckeditor [name]="'guidelines'" [value]="guidelines"
        (valueChange)="setFormField('guidelines','guidelines',$event)"></app-ckeditor>
      <mat-error *ngIf="guidlinesFormGroup && guidlinesFormGroup.get('guidelines')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dataFormGroup">
    <ng-template matStepLabel>Form Fields</ng-template>
    <div class="flex flex-col gap-1">
      <app-alert type="info">The form fields are the inputs that users will fill in the form. You can add, remove, and
        rearrange them as needed.</app-alert>
      <app-select-object [url]="'applications/templates/config/commonTemplates'"
        [fieldLabel]="'Select a commone template (optional)'"
        (selectionChanged)="commonApplicationTemplateUrlSelected($event)" [labelProperty]="'label'"
        [keyProperty]="'form_url'"></app-select-object>
      <form [formGroup]="dataFormGroup">
        <label for="">Use the controls below to add/arrange the form fields</label>
        <app-form-editor [assetType]="'applications'" [fields]="fields"
          (formChanged)="setFormField('data', 'data', $event)"></app-form-editor>
        <mat-error *ngIf="dataFormGroup && dataFormGroup.get('data')?.hasError('required')">Required field</mat-error>

      </form>
    </div>

    <div class="flex gap-1  mt-1">
      <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="criteriaFormGroup">
    <ng-template matStepLabel>Criteria for availability</ng-template>
    <div class="flex flex-col gap-1">
      <app-alert type="info">These settings will control when the form is available for any user on the portal. If a
        logged in user does not meet all the criteria, they will not see the form.</app-alert>

      <form [formGroup]="criteriaFormGroup">
        <app-json-editor [jsonObject]="criteria" [schema]="initialCriteria" [isArray]="true"
          (valueChanged)="setFormField('criteria', 'criteria', $event)"></app-json-editor>

      </form>
    </div>

    <div class="flex gap-1  mt-1">
      <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="headerFormGroup">
    <ng-template matStepLabel>Header</ng-template>
    <label for="">The header of the form. This can contain the title, logo, or any content</label>
    <form [formGroup]="headerFormGroup">
      <app-ckeditor [name]="'header'" [value]="header"
        (valueChange)="setFormField('header', 'header', $event)"></app-ckeditor>
      <mat-error *ngIf="headerFormGroup && headerFormGroup.get('header')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="footerFormGroup">
    <ng-template matStepLabel>Footer</ng-template>
    <form [formGroup]="footerFormGroup">
      <label for="">The footer of the form. It can contain any message</label>
      <app-ckeditor [name]="'footer'" [value]="footer"
        (valueChange)="setFormField('footer','footer', $event)"></app-ckeditor>
      <mat-error *ngIf="footerFormGroup && footerFormGroup.get('footer')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="onSubmitFormGroup">
    <ng-template matStepLabel>On Submit Templates</ng-template>
    <form [formGroup]="onSubmitFormGroup">


      <label for="">Message to display after form is submitted</label>
      <app-ckeditor [name]="'on_submit_message'" [value]="on_submit_message"
        (valueChange)="setFormField('on_submit','on_submit_message', $event)"></app-ckeditor>
      <mat-error *ngIf="onSubmitFormGroup && onSubmitFormGroup.get('on_submit_message')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="workflowFormGroup">
    <ng-template matStepLabel>Workflow</ng-template>
    <form [formGroup]="workflowFormGroup" class="flex flex-col gap-1 p-2">
      <!-- if no stages added add a call to action saying click here to add at least one stage -->
      <h4>Stages</h4>
      <!-- Stage List -->
      <div formArrayName="stages" class="stages-list">
        <div *ngFor="let stage of stages.controls; let i=index" [formGroupName]="i" class="stage-item">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{stage.get('name')?.value || 'New Stage'}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Stage Details -->
            <div class="stage-details">
              <!-- <mat-form-field appearance="outline">
                <mat-label>Stage ID</mat-label>
                <input matInput formControlName="id" placeholder="e.g., pending_verification">
              </mat-form-field> -->

              <mat-form-field appearance="outline">
                <mat-label>Stage Name</mat-label>
                <input matInput formControlName="name" placeholder="e.g., Pending Verification">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>

              <!-- Allowed Transitions -->
              <mat-form-field appearance="outline">
                <mat-label>Allowed Transitions</mat-label>
                <mat-select formControlName="allowedTransitions" multiple>
                  <mat-option *ngFor="let s of stages.controls; let j=index" [value]="s.get('name')?.value"
                    [disabled]="i === j">
                    {{s.get('name')?.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="flex flex-col gap-1">
                <label for="">Select roles that can move applications to this status</label>
                <app-select-object (selectionChanged)="setRoles($event, i)" [url]="'admin/roles'"
                  [keyProperty]="'role_name'" [initialValue]="stage.get('allowedUserRoles')?.value"
                  [labelProperty]="'role_name'" [type]="'select'" [selection_mode]="'multiple'"></app-select-object>
              </div>


              <!-- Actions -->
              <div class="flex flex-col gap-2 p-1" formArrayName="actions">
                <h4>Actions</h4>
                <div *ngFor="let action of getActions(i).controls; let j=index" [formGroupName]="j"
                  class="flex flex-col gap-1  border border-gray-300 p-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Action Type</mat-label>
                    <mat-hint>Select the type of action to perform</mat-hint>
                    <mat-select formControlName="type" (ngModelChange)="setActionType(i, j, $event)">
                      <mat-option value="{{action.type}}"
                        *ngFor="let action of actionTypes">{{action.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- Action Config based on type -->
                  <div formGroupName="config" class="flex flex-col gap-1">
                    <!-- Email Config -->
                    <div *ngIf="action.get('type')?.value === 'email'" class="flex flex-col gap-1">
                      <mat-form-field appearance="outline">
                        <mat-label>Email Subject</mat-label>
                        <input matInput formControlName="subject">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Email Template</mat-label>
                        <textarea matInput formControlName="template"></textarea>
                      </mat-form-field>
                    </div>

                    <!-- API Call Config -->
                    <!-- API Call Config (Enhanced Version) -->
                    <div
                      *ngIf="action.get('config_type')?.value === 'api_call' || action.get('config_type')?.value === 'internal_api_call'"
                      class="flex flex-col gap-3">
                      <app-select-object (dataDownloaded)="setDefaultApiCallActions($event)" [emitDownload]="true"
                        (selectionChanged)="defaultApiCallTemplateSelected(i, j, $event)"
                        fieldLabel="Select an existing template to apply (optional)" labelProperty="label"
                        keyProperty="name" url="applications/templates/config/defaultActions"></app-select-object>
                      <!-- Basic Configuration -->
                      <div class="grid grid-cols-1 md:grid-cols-2 gap-3"
                        *ngIf="action.get('config_type')?.value === 'api_call'">
                        <mat-form-field appearance="outline">
                          <mat-label>Endpoint URL</mat-label>
                          <input matInput formControlName="endpoint" placeholder="e.g., /api/v1/users">
                          <mat-hint>The API endpoint to call</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                          <mat-label>HTTP Method</mat-label>
                          <mat-select formControlName="method">
                            <mat-option value="GET">GET</mat-option>
                            <mat-option value="POST">POST</mat-option>
                            <mat-option value="PUT">PUT</mat-option>
                            <mat-option value="DELETE">DELETE</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <!-- Authentication -->
                      <mat-form-field appearance="outline" *ngIf="action.get('config_type')?.value === 'api_call'">
                        <mat-label>Authentication Token (Optional)</mat-label>
                        <input matInput formControlName="auth_token" placeholder="Bearer token for authentication">
                        <mat-hint>Optional: Bearer token for API authentication</mat-hint>
                      </mat-form-field>

                      <!-- Headers Configuration -->
                      <mat-expansion-panel *ngIf="action.get('config_type')?.value === 'api_call'">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Headers Configuration</mat-panel-title>
                          <mat-panel-description>Configure custom headers for the API call</mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="headers-config">
                          <div formArrayName="headers" class="flex flex-col gap-2">
                            <div *ngFor="let header of getHeadersArray(i, j).controls; let h=index" [formGroupName]="h"
                              class="grid grid-cols-3 gap-2 items-center">
                              <mat-form-field appearance="outline">
                                <mat-label>Header Name</mat-label>
                                <input matInput formControlName="name" placeholder="e.g., Content-Type">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Header Value</mat-label>
                                <input matInput formControlName="value"
                                  placeholder="e.g., application/json or [field_name]">
                                <mat-hint>Use [field_name] for dynamic values</mat-hint>
                              </mat-form-field>
                              <button mat-icon-button color="warn" (click)="removeHeader(i, j, h)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                          </div>
                          <button mat-stroked-button color="primary" (click)="addHeader(i, j)">
                            <mat-icon>add</mat-icon> Add Header
                          </button>
                        </div>
                      </mat-expansion-panel>

                      <!-- Body Mapping (for POST/PUT) -->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Request Body Mapping</mat-panel-title>
                          <mat-panel-description>Map form fields to API parameters</mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="body-mapping-config">
                          <div formArrayName="body_mapping" class="flex flex-col gap-2">
                            <div *ngFor="let mapping of getBodyMappingArray(i, j).controls; let m=index"
                              [formGroupName]="m" class="grid grid-cols-12 gap-2 items-center">

                              <mat-form-field appearance="outline" class="col-span-3">
                                <mat-label>API Field Name</mat-label>
                                <input matInput formControlName="api_field" placeholder="e.g., user_name">
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="col-span-2">
                                <mat-label>Mapping Type</mat-label>
                                <mat-select formControlName="mapping_type">
                                  <mat-option value="field">Form Field</mat-option>
                                  <mat-option value="static">Static Value</mat-option>
                                  <mat-option value="template">Template</mat-option>
                                  <mat-option value="transform">Transform</mat-option>
                                </mat-select>
                              </mat-form-field>

                              <!-- Field Selection -->
                              <mat-form-field appearance="outline" class="col-span-3"
                                *ngIf="mapping.get('mapping_type')?.value === 'field'">
                                <mat-label>Form Field</mat-label>
                                <mat-select formControlName="source_field">
                                  <mat-option *ngFor="let field of getFieldsList()" [value]="field.name">
                                    {{field.label || field.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <!-- Static Value -->
                              <mat-form-field appearance="outline" class="col-span-3"
                                *ngIf="mapping.get('mapping_type')?.value === 'static'">
                                <mat-label>Static Value</mat-label>
                                <input matInput formControlName="static_value">
                              </mat-form-field>

                              <!-- Template -->
                              <mat-form-field appearance="outline" class="col-span-3"
                                *ngIf="mapping.get('mapping_type')?.value === 'template'">
                                <mat-label>Template</mat-label>
                                <input matInput formControlName="template" placeholder="Hello [first_name] [last_name]">
                                <mat-hint>Use [field_name] for dynamic values</mat-hint>
                              </mat-form-field>

                              <!-- Transform Options -->
                              <div class="col-span-3" *ngIf="mapping.get('mapping_type')?.value === 'transform'">
                                <mat-form-field appearance="outline">
                                  <mat-label>Source Field</mat-label>
                                  <mat-select formControlName="source_field">
                                    <mat-option *ngFor="let field of getFieldsList()" [value]="field.name">
                                      {{field.label || field.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mt-2">
                                  <mat-label>Transform Type</mat-label>
                                  <mat-select formControlName="transform_type">
                                    <mat-option value="uppercase">Uppercase</mat-option>
                                    <mat-option value="lowercase">Lowercase</mat-option>
                                    <mat-option value="trim">Trim</mat-option>
                                    <mat-option value="date_format">Date Format</mat-option>
                                    <mat-option value="concat">Concatenate</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <!-- Default Value -->
                              <mat-form-field appearance="outline" class="col-span-2">
                                <mat-label>Default Value</mat-label>
                                <input matInput formControlName="default_value">
                              </mat-form-field>

                              <button mat-icon-button color="warn" (click)="removeBodyMapping(i, j, m)"
                                class="col-span-1">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                          </div>
                          <button mat-stroked-button color="primary" (click)="addBodyMapping(i, j)">
                            <mat-icon>add</mat-icon> Add Body Mapping
                          </button>
                        </div>
                      </mat-expansion-panel>

                      <!-- Query Parameters (for GET) -->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Query Parameters</mat-panel-title>
                          <mat-panel-description>Map form fields to URL query parameters</mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="query-params-config">
                          <div formArrayName="query_params" class="flex flex-col gap-2">
                            <div *ngFor="let param of getQueryParamsArray(i, j).controls; let p=index"
                              [formGroupName]="p" class="grid grid-cols-4 gap-2 items-center">

                              <mat-form-field appearance="outline">
                                <mat-label>Parameter Name</mat-label>
                                <input matInput formControlName="param_name" placeholder="e.g., user_id">
                              </mat-form-field>

                              <mat-form-field appearance="outline">
                                <mat-label>Form Field</mat-label>
                                <mat-select formControlName="form_field">
                                  <mat-option *ngFor="let field of getFieldsList()" [value]="field.name">
                                    {{field.label || field.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="outline">
                                <mat-label>Default Value</mat-label>
                                <input matInput formControlName="default_value">
                              </mat-form-field>

                              <button mat-icon-button color="warn" (click)="removeQueryParam(i, j, p)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                          </div>
                          <button mat-stroked-button color="primary" (click)="addQueryParam(i, j)">
                            <mat-icon>add</mat-icon> Add Query Parameter
                          </button>
                        </div>
                      </mat-expansion-panel>

                      <!-- Test Configuration -->
                      <mat-expansion-panel *ngIf="action.get('config_type')?.value === 'api_call'">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Test Configuration</mat-panel-title>
                          <mat-panel-description>Test your API call configuration</mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="test-config flex flex-col gap-2">
                          <p class="text-sm text-gray-600">
                            You can test this API call configuration with sample data to ensure it works correctly.
                          </p>
                          <button mat-stroked-button color="accent" (click)="testApiCall(i, j)">
                            <mat-icon>play_arrow</mat-icon> Test API Call
                          </button>
                        </div>
                      </mat-expansion-panel>
                    </div>

                    <!-- Admin Email Config -->
                    <div *ngIf="action.get('type')?.value === 'admin_email'" class="flex flex-col gap-1">
                      <mat-form-field appearance="outline">
                        <mat-label>Recipient Field</mat-label>
                        <input matInput formControlName="admin_email">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Email Subject</mat-label>
                        <input matInput formControlName="subject">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Email Template</mat-label>
                        <textarea matInput formControlName="template"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <button class="self-start" mat-flat-button color="warn" (click)="removeAction(i, j)">
                    <mat-icon>delete</mat-icon> Delete this action
                  </button>
                </div>

                <button class="self-start" mat-stroked-button color="primary" (click)="addAction(i)">
                  <mat-icon>add</mat-icon> Add Action
                </button>
              </div>
            </div>

            <div class="self-start">
              <button mat-flat-button color="warn" (click)="removeStage(i)">
                <mat-icon>delete</mat-icon> Delete this stage
              </button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <button mat-flat-button [color]="'accent'" (click)="addStage()">
        <mat-icon>add</mat-icon> Add Stage
      </button>

      <!-- Initial Stage Selection -->
      <mat-form-field appearance="outline" class="initial-stage">
        <mat-label>Initial Stage</mat-label>
        <mat-select formControlName="initialStage">
          <mat-option value="">Select one</mat-option>
          <mat-option *ngFor="let stage of stages.controls" [value]="stage.get('name')?.value">
            {{stage.get('name')?.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="initial-stage">
        <mat-label>Final Stage</mat-label>
        <mat-select formControlName="finalStage">
          <mat-option value="">Select one</mat-option>
          <mat-option *ngFor="let stage of stages.controls" [value]="stage.get('name')?.value">
            {{stage.get('name')?.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button type="button" (click)="submit()" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

<ng-template #previewFieldsDialog>
  <h2 mat-dialog-title>Preview form fields <br>
    <small>These fields will be applied to this application form. Any form fields previously added will be replaced by
      these ones</small>
  </h2>
  <mat-dialog-content>
    <app-form-generator *ngIf="commonTemplateFields.length" [fields]="commonTemplateFields" [formType]="'filter'"
      [showSubmitButton]="false" [showResetButton]="false"></app-form-generator>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="commonTemplateFields">Apply</button>
  </mat-dialog-actions>
</ng-template>