<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="generalFormGroup">
    <ng-template matStepLabel>General Information</ng-template>
    <form [formGroup]="generalFormGroup">
      <div class="flex flex-col gap-1 pt-2">
        <mat-form-field appearance="fill">
          <mat-label>Form Name</mat-label>
          <input matInput formControlName="form_name" name="form_name" required>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('form_name')?.hasError('required')">Required
            field</mat-error>
        </mat-form-field>
        <div class="flex flex-col gap-1">
          <app-mat-datepicker [label]="'Open From'"
            [initialDate]="generalFormGroup.get('open_date')?.value || undefined"
            (onFinish)="setFormField('general','open_date', $event)"></app-mat-datepicker>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('open_date')?.hasError('required')">Required
            field</mat-error>

        </div>
        <div class="flex flex-col gap-1">
          <app-mat-datepicker [label]="'Closes On'"
            [initialDate]="generalFormGroup.get('close_date')?.value || undefined"
            (onFinish)="setFormField('general','close_date', $event)"></app-mat-datepicker>
          <mat-error *ngIf="generalFormGroup && generalFormGroup.get('close_date')?.hasError('required')">Required
            field</mat-error>

        </div>

      </div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Guidelines</ng-template>
    <form [formGroup]="guidlinesFormGroup">
      <label for="">(Optional) Type any instructions you want your users to read about the form before they fill it.
        This
        will be available as a link on the form.
      </label>
      <app-ckeditor [name]="'guidelines'" [value]="guidelines"
        (valueChange)="setFormField('guidelines','guidelines',$event)"></app-ckeditor>
      <mat-error *ngIf="guidlinesFormGroup && guidlinesFormGroup.get('guidelines')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Form Fields</ng-template>
    <form [formGroup]="dataFormGroup">
      <label for="">Use the controls below to add/arrange the form fields</label>
      <app-form-editor [fields]="fields" (formChanged)="setFormField('data', 'data', $event)"></app-form-editor>
      <mat-error *ngIf="dataFormGroup && dataFormGroup.get('data')?.hasError('required')">Required field</mat-error>

    </form>
    <div class="flex gap-1  mt-1">
      <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="headerFormGroup">
    <ng-template matStepLabel>Header</ng-template>
    <label for="">The header of the form. This can contain the title, logo, or any content</label>
    <form [formGroup]="headerFormGroup">
      <app-ckeditor [name]="'header'" [value]="header"
        (valueChange)="setFormField('header', 'header', $event)"></app-ckeditor>
      <mat-error *ngIf="headerFormGroup && headerFormGroup.get('header')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="footerFormGroup">
    <ng-template matStepLabel>Footer</ng-template>
    <form [formGroup]="footerFormGroup">
      <label for="">The footer of the form. It can contain any message</label>
      <app-ckeditor [name]="'footer'" [value]="footer"
        (valueChange)="setFormField('footer','footer', $event)"></app-ckeditor>
      <mat-error *ngIf="footerFormGroup && footerFormGroup.get('footer')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="onSubmitFormGroup">
    <ng-template matStepLabel>On Submit Templates</ng-template>
    <form [formGroup]="onSubmitFormGroup">
      <label for="">Email to send to user after form is submitted</label>
      <app-ckeditor [name]="'on_submit_email'" [value]="on_submit_email"
        (valueChange)="setFormField('on_submit', 'on_submit_email', $event)"></app-ckeditor>
      <mat-error *ngIf="onSubmitFormGroup && onSubmitFormGroup.get('on_submit_email')?.hasError('required')">Required
        field</mat-error>

      <label for="">Message to display after form is submitted</label>
      <app-ckeditor [name]="'on_submit_message'" [value]="on_submit_message"
        (valueChange)="setFormField('on_submit','on_submit_message', $event)"></app-ckeditor>
      <mat-error *ngIf="onSubmitFormGroup && onSubmitFormGroup.get('on_submit_message')?.hasError('required')">Required
        field</mat-error>

      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="workflowFormGroup">
    <ng-template matStepLabel>Workflow</ng-template>
    <form [formGroup]="workflowFormGroup" class="flex flex-col gap-1 p-2">
      <!-- if no stages added add a call to action saying click here to add at least one stage -->
      <h4>Stages</h4>
      <!-- Stage List -->
      <div formArrayName="stages" class="stages-list">
        <div *ngFor="let stage of stages.controls; let i=index" [formGroupName]="i" class="stage-item">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{stage.get('name')?.value || 'New Stage'}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Stage Details -->
            <div class="stage-details">
              <!-- <mat-form-field appearance="fill">
                <mat-label>Stage ID</mat-label>
                <input matInput formControlName="id" placeholder="e.g., pending_verification">
              </mat-form-field> -->

              <mat-form-field appearance="fill">
                <mat-label>Stage Name</mat-label>
                <input matInput formControlName="name" placeholder="e.g., Pending Verification">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>

              <!-- Allowed Transitions -->
              <mat-form-field appearance="fill">
                <mat-label>Allowed Transitions</mat-label>
                <mat-select formControlName="allowedTransitions" multiple>
                  <mat-option *ngFor="let s of stages.controls; let j=index" [value]="s.get('name')?.value"
                    [disabled]="i === j">
                    {{s.get('name')?.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <label for="">Select roles that can move applications to this status</label>
                <app-select-object (selectionChanged)="setRoles($event, i)" [url]="'admin/roles'"
                  [keyProperty]="'role_name'" [initialValue]="stage.get('allowedUserRoles')?.value"
                  [labelProperty]="'role_name'" [type]="'select'" [selection_mode]="'multiple'"></app-select-object>
              </div>


              <!-- Actions -->
              <div class="flex flex-col gap-2 p-1" formArrayName="actions">
                <h4>Actions</h4>
                <div *ngFor="let action of getActions(i).controls; let j=index" [formGroupName]="j"
                  class="flex flex-col gap-1  border border-gray-300 p-2">
                  <mat-form-field appearance="fill">
                    <mat-label>Action Type</mat-label>
                    <mat-hint>Select the type of action to perform</mat-hint>
                    <mat-select formControlName="type">
                      <mat-option value="email">Send Email to Applicant</mat-option>
                      <mat-option value="api_call">API Call</mat-option>
                      <mat-option value="admin_email">Send Email to Admin</mat-option>
                      <mat-option value="database_update">Update Database</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- Action Config based on type -->
                  <div [ngSwitch]="action.get('type')?.value" formGroupName="config" class="flex flex-col gap-1">
                    <!-- Email Config -->
                    <div *ngSwitchCase="'email'" class="flex flex-col gap-1">
                      <mat-form-field appearance="fill">
                        <mat-label>Email Subject</mat-label>
                        <input matInput formControlName="subject">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Email Template</mat-label>
                        <textarea matInput formControlName="template"></textarea>
                      </mat-form-field>
                    </div>

                    <!-- API Call Config -->
                    <div *ngSwitchCase="'api_call'" class="flex flex-col gap-1">
                      <mat-form-field appearance="fill">
                        <mat-label>Endpoint URL</mat-label>
                        <input matInput formControlName="endpoint">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Method</mat-label>
                        <mat-select formControlName="method">
                          <mat-option value="GET">GET</mat-option>
                          <mat-option value="POST">POST</mat-option>
                          <mat-option value="PUT">PUT</mat-option>
                          <mat-option value="DELETE">DELETE</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- Admin Email Config -->
                    <div *ngSwitchCase="'admin_email'" class="flex flex-col gap-1">
                      <mat-form-field appearance="fill">
                        <mat-label>Recipient Field</mat-label>
                        <input matInput formControlName="admin_email">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Email Subject</mat-label>
                        <input matInput formControlName="subject">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Email Template</mat-label>
                        <textarea matInput formControlName="template"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <button class="self-start" mat-flat-button color="warn" (click)="removeAction(i, j)">
                    <mat-icon>delete</mat-icon> Delete this action
                  </button>
                </div>

                <button class="self-start" mat-stroked-button color="primary" (click)="addAction(i)">
                  <mat-icon>add</mat-icon> Add Action
                </button>
              </div>
            </div>

            <div class="self-start">
              <button mat-flat-button color="warn" (click)="removeStage(i)">
                <mat-icon>delete</mat-icon> Delete this stage
              </button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <button mat-flat-button [color]="'accent'" (click)="addStage()">
        <mat-icon>add</mat-icon> Add Stage
      </button>

      <!-- Initial Stage Selection -->
      <mat-form-field appearance="fill" class="initial-stage">
        <mat-label>Initial Stage</mat-label>
        <mat-select formControlName="initialStage">
          <mat-option value="">Select one</mat-option>
          <mat-option *ngFor="let stage of stages.controls" [value]="stage.get('name')?.value">
            {{stage.get('name')?.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="initial-stage">
        <mat-label>Final Stage</mat-label>
        <mat-select formControlName="finalStage">
          <mat-option value="">Select one</mat-option>
          <mat-option *ngFor="let stage of stages.controls" [value]="stage.get('name')?.value">
            {{stage.get('name')?.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex gap-1 mt-1">
        <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
        <button type="button" (click)="submit()" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>