<app-loading *ngIf="loading"></app-loading>
<span *ngIf="type === 'select'">
    <mat-select class="form-control" [(value)]="selectedItem" (selectionChange)="selectionMade()" appearance="outline">
      <mat-option>None</mat-option>
      <!-- if simple array of strings or numbers, output the values. if objects, read the props -->
      <mat-option *ngFor="let object of objects" [value]="object[keyProperty] || object">{{object[labelProperty] || object}} </mat-option>
    </mat-select>
</span>

<span *ngIf="type === 'datalist'">
  <input type="text" [attr.list]="dataListId" #dataListInput [(ngModel)]="selectedItem" (change)="selectionMade()" (keyup)="selectionMade()">
  <datalist id="{{dataListId}}">
    <option *ngFor="let object of objects" [value]="object[keyProperty] || object">{{object[labelProperty] || object}}</option>
  </datalist>
</span>

<div  *ngIf="type === 'search'">
    <p-autoComplete [(ngModel)]="selectedItem" [dropdown]="true" [field]="labelProperty" [suggestions]="objects"
        (completeMethod)="search($event)"></p-autoComplete>

</div>

