<app-loading *ngIf="loading"></app-loading>
<span *ngIf="type === 'select'">

    <mat-select [(value)]="selectedItem" (selectionChange)="selectionMade()" appearance="outline">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let object of objects" [value]="object[keyProperty]">{{object[labelProperty]}} </mat-option>
    </mat-select>


<!-- <p-dropdown (onChange)="selectionMade()" *ngIf="isLoaded" [options]="objects" [(ngModel)]="selectedItem"
    [optionValue]="keyProperty" [optionLabel]="labelProperty" [filter]="true" [filterBy]="labelProperty"
    [showClear]="true" [showClear]="true">
</p-dropdown> -->
</span>

<div  *ngIf="type === 'search'">
    <p-autoComplete [(ngModel)]="selectedItem" [dropdown]="true" [field]="labelProperty" [suggestions]="objects"
        (completeMethod)="search($event)"></p-autoComplete>

</div>

