<div mat-dialog-title>
  <div class="flex justify-between items-center">
    <h1 [innerHTML]="title"></h1>
    <button submitButton mat-icon-button color="warn" type="button" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
<div mat-dialog-content>
  <app-form-generator *ngIf="formType === 'filter' || formType === 'emit' || url" [url]="url" [fields]="fields"
    [formType]="formType" (emitFields)="formSubmitted($event)" (onSubmit)="formSubmitted($event)" [id]="id"
    [extraData]="extraData">
    <!-- <button submitButton mat-flat-button color="warn" type="button" [mat-dialog-close]="false">
      Cancel
    </button> -->
  </app-form-generator>

</div>


<!-- <div mat-dialog-actions>

</div> -->
