<mat-form-field appearance="fill" class="flex-auto">
  <mat-label>Year </mat-label>
  <input matInput type="number" name="year" [(ngModel)]="_year" />
  <button matSuffix mat-raised-button color="primary" (click)=" onYearChange()">Get Data</button>
</mat-form-field>

<ng-container *ngIf=" !year"></ng-container>
<app-load-data-list [dataKey]="'attendance'" [emitDownload]="true" (dataDownloaded)="onDataDownloaded($event)"
  [url]="url" [timestamp]="ts" [getActions]="getActions" [showFilterButton]="false" [showSearch]="false"
  [showDeleted]="false" [showSort]="false" (onSelect)="setSelectedItems($event)" [showReset]="false">
  <ng-template #header>
    <h2 class="text-xl">Score: {{score}}</h2>
  </ng-template>
</app-load-data-list>
