<div class="gap4">
  <div class="user">
    <div class="row">

      <div class="col-sm-12" *ngIf="object != null">
        <h4>
          <img  src="{{object.picture}}" height="100" alt="no_picture" />

          {{object.first_name}} {{object.middle_name}} {{object.last_name}}
          <small>(<em><b>{{object.registration_number}} </b> </em>) </small>
        </h4>
        <p>
          <!-- <app-renewal-individual [type]="'Doctor'" [reg_num]="object.registration_number"></app-renewal-individual>
          <app-specialist [existing_specialty]="object.specialty" [object]="object" [reg_num]="object.registration_number"></app-specialist> -->

          <span [ngSwitch]="object.register_type">
            <em *ngSwitchCase="'Provisional'"><a class="badge badge-danger"> {{object.register_type}} register</a></em>
            <em *ngSwitchCase="'Permanent'"><a class="badge badge-success">{{object.register_type}} register</a></em>
            <em *ngSwitchCase="'Temporary'"><a class="badge badge-warning">{{object.register_type}} register</a></em>
            <em *ngSwitchCase="'Full'"><a class="badge badge-success">{{object.register_type}} register</a></em>

            <em *ngSwitchDefault><a class="badge badge-warning">{{object.register_type}} register</a></em>
          </span>

          <span [ngSwitch]="object.category">
            <em *ngSwitchCase="'Medical'"><a class="badge badge-success"> {{object.category}}</a></em>
            <em *ngSwitchCase="'Dental'"><a class="badge badge-info">{{object.category}}</a></em>

            <em *ngSwitchDefault><a class="badge badge-warning">{{object.category}}</a></em>
          </span>
          <!-- <app-portal-activation [reg_num]="object.registration_number" [type]="'Doctor'"></app-portal-activation> -->

          <a  mat-raised-button routerLink="/practitioners/practitioner-form/{{object.uuid}}" >Edit Details</a>
          <button mat-raised-button  (click)="editImage()" >Change Picture</button>

        </p>
      </div>

    </div>

  </div>
  <mat-tab-group>
    <mat-tab label="Personal Details">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <table class="table table-striped table-bordered" *ngIf="object">
              <tr *ngf>
                <td>
                  First Name
                </td>
                <td>{{object.first_name}}

                </td>
              </tr>
              <tr>
                <td>
                  Last Name
                </td>

                <td>{{object.last_name}}

                </td>
              </tr>
              <tr>
                <td>
                  Middle Name
                </td>
                <td>{{object.middle_name}}

                </td>
              </tr>
              <tr>
                <td>
                  Registration Number
                </td>
                <td>{{object.registration_number}}

                </td>
              </tr>
              <tr>
                <td>
                  Register Type
                </td>
                <td>{{object.register_type}}

                </td>
              </tr>
              <tr>
                <td>
                  Category
                </td>
                <td>{{object.category}}

                </td>
              </tr>
              <tr>
                <td>
                  Specialty
                </td>
                <td>{{object.specialty}}

                </td>
              </tr>
              <tr>
                <td>
                  Subspecialty
                </td>
                <td>{{object.subspecialty}}

                </td>
              </tr>
              <tr>
                <td>
                  Membership
                </td>
                <td>{{object.college_membership}}

                </td>
              </tr>
              <tr>
                <td>Place of Work</td>
                <td>{{object.place_of_work}}</td>
              </tr>
              <tr>
                <td>Institution Type</td>
                <td>{{object.institution_type}}</td>
              </tr>
              <tr>
                <td>Region</td>
                <td>{{object.region}}</td>
              </tr>
              <tr>
                <td>District</td>
                <td>{{object.district}}</td>
              </tr>
              <tr>
                <td>
                  Title
                </td>
                <td>{{object.title}}

                </td>
              </tr>
              <tr>
                <td>
                  Maiden Name
                </td>
                <td>{{object.maiden_name}}

                </td>
              </tr>
              <tr>
                <td>
                  Sex
                </td>
                <td>{{object.sex}}

                </td>
              </tr>
              <tr>
                <td>
                  Email
                </td>
                <td>{{object.email}}

                </td>
              </tr>
              <tr>
                <td>
                  Phone
                </td>
                <td>{{object.phone}}

                </td>
              </tr>
              <tr>

                <td>
                  Date of Birth
                </td>
                <td>{{object.date_of_birth}}

                </td>
              </tr>



              <tr>
                <td>Nationality</td>
                <td>{{object.nationality}}</td>
              </tr>
              <tr>
                <td>Qualification At Registration</td>
                <td>{{object.qualification_at_registration}}</td>
              </tr>
              <tr>
                <td>Training Institution</td>
                <td>{{object.training_institution}}</td>
              </tr>
              <tr>
                <td>Date of Graduation</td>
                <td>{{object.qualification_date}}</td>
              </tr>

              <tr>
                <td>
                  Year of Provisional Registration
                </td>
                <td>{{object.year_of_provisional}}

                </td>
              </tr>
              <tr>
                <td>
                  Year of Permanent Registration
                </td>
                <td>{{object.year_of_permanent}}

                </td>
              </tr>

              <tr>
                <td>
                  Residential Address
                </td>
                <td>{{object.residential_address}}

                </td>
              </tr>
              <tr>
                <td>
                  Postal Address
                </td>
                <td>{{object.postal_address}}

                </td>
              </tr>
              <tr>
                <td>
                  Status
                </td>
                <td>
                  <span *ngIf="object.status == '0'" class="text-danger">DECEASED</span>
                  <span *ngIf="object.status == '1'" class="text-success">ALIVE</span>
                </td>
              </tr>
              <tr>
                <td>Marital Status</td>
                <td>{{object.marital_status}}</td>
              </tr>
              <tr>
                <td>Provisional Number</td>
                <td>{{object.provisional_number}}</td>
              </tr>
              <tr>
                <td>Hometown</td>
                <td>{{object.hometown}}</td>
              </tr>

            </table>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Education History">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="Housemanship">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="CPD History">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="Renewal History">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="Work History">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="Activities">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="Documents">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
