<a [routerLink]="url" [queryParams]="urlParams">
  <mat-card class="dashboard-card">
    <mat-card-content>
      <div class="flex gap-1 ">
        <mat-icon *ngIf="icon" class="text-7xl w-[72px] h-[72px]  icon">{{icon}}</mat-icon>
        <div class="flex flex-col justify-start flex-grow">
          <h3 class="text-2xl font-light  text-primary">{{title}}</h3>

          <div *ngIf="counterUrl" class="flex gap-1 w-fit items-baseline">
            <span class="text-3xl font-bold text-accent">
              <app-api-count [url]="counterUrl"></app-api-count>
            </span>
            <p class="counterText" *ngIf="counterText">{{counterText}}</p>

          </div>
          <p *ngIf="description" class="">{{description}}</p>


        </div>
      </div>
    </mat-card-content>

  </mat-card>
</a>