<a [routerLink]="url" [queryParams]="urlParams">
  <div class=" p-6"
    [ngClass]="{'card-primary': variant === 'primary', 'card-primary-light': variant === 'secondary', 'card-white': variant === 'white'}">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="text-xl font-semibold mb-2">{{title}}</h3>
        <p class="text-3xl font-bold"><ng-container *ngTemplateOutlet="count || useApiCount">
          </ng-container>
          <ng-template #useApiCount>
            <app-api-count *ngIf="counterUrl" [url]="counterUrl"></app-api-count>
          </ng-template>
        </p>
        <p class="text-subtle" *ngIf="counterText">{{counterText}}</p>
        <p *ngIf="description" class="">{{description}}</p>
      </div>
      <mat-icon *ngIf="icon" class="text-7xl w-[72px] h-[72px]  opacity-20">{{icon}}</mat-icon>
    </div>
  </div>
</a>
