$blueColor: #1e4a8d;

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: #ebf4fd !important;
    font-weight: bold;
    height: 32px;
}


.panel-border {
    border-bottom: 1px solid rgb(230, 228, 228);
}

.spacer {
    flex: 1 1 auto;
}

img {
    margin-right: 16px;
    width: 30%;
}

.full-width {
    width: 100%;
}

.section {
    margin-bottom: 8px;
    text-align: center;
}

.section-1 {
    font-size: 2.2rem;
    color: $blueColor;
    line-height: 2.3rem;
}

.section-2 {
    font-size: 20px;
}

.section-3 {
    font-size: 14px;
}

.hire-status {
    max-height: 20%;
    text-align: center;
}

.hire-order-div {
    display: block;
    font-size: 1rem;
    border-top: 1px #e3e3e3;
    border-bottom: 1px #e3e3e3;
    /* border-radius: 4px; */
    /* width: 72%; */
    margin: 0 auto;
    padding: 2px 2px 2px 2px;
    background-color: #f1f6ff;
}

.item-description {
    display: block;
    margin-bottom: 16px;
}