<div class="flex flex-col gap-2 w-full">
  <div>
    <h1 class="text-3xl font-light">Welcome, {{user?.display_name}}</h1>
  </div>


  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ng-container *ngFor="let item of menuItems" class="min-w-[300px]">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="dashboard-panel">
            <mat-panel-title>
              <div class="flex  gap-1 items-start">
                <div class="p-1 rounded-md shadow shadow-gray-500 bg-{{item.color}} flex items-center justify-center"
                  *ngIf="item.icon" [ngClass]="{'bg-accent': !item.color}">
                  <mat-icon class="text-[36px] w-[36px] h-[36px]  icon">{{item.icon}}</mat-icon>
                </div>
                <div>
                  <h3 class="text-2xl font-light  text-primary">{{item.title}}</h3>
                  <p *ngIf="item.description" class="">{{item.description}}</p>
                </div>

              </div>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-list *ngIf="item.children">
              <a mat-list-item class="border-b pl-0 pr-0 cursor-pointer hover:bg-gray-100" [routerLink]="link.url"
                [queryParams]="link.urlParams" *ngFor="let link of item.children">
                <div class="flex gap-1 items-center">
                  <span class="inline-flex items-center text-pretty gap-1 flex-grow">
                    {{ link.title }}
                  </span>
                  <span class="inline-flex justify-center badge shadow shadow-gray-500  bg-{{item.color}}"
                    *ngIf="link.apiCountUrl">
                    <app-api-count [url]="link.apiCountUrl"></app-api-count>
                  </span>
                </div>
              </a>
            </mat-list>
          </ng-template>
        </mat-expansion-panel>
      </div>


      <!-- <mat-card class="min-w-[300px] min-h-[100px]">
        <mat-card-content class="flex flex-col gap-1 ">



          <div class="flex flex-col justify-start flex-grow">
            <div class="flex flex-col gap-1 border-b items-start">
              <div class="p-1 rounded-md shadow shadow-gray-500 bg-{{item.color}}" *ngIf="item.icon"
                [ngClass]="{'bg-accent': !item.color}">
                <mat-icon class="text-3xl w-[30px] h-[30px]  icon">{{item.icon}}</mat-icon>
              </div>
              <div>
                <h3 class="text-2xl font-light  text-primary">{{item.title}}</h3>
                <p *ngIf="item.description" class="">{{item.description}}</p>
              </div>

            </div>





          </div>

          <mat-list *ngIf="item.children">
            <a mat-list-item class="border-b pl-0 pr-0 cursor-pointer hover:bg-gray-100" [routerLink]="link.url"
              [queryParams]="link.urlParams" *ngFor="let link of item.children">
              <div class="flex gap-1 items-center">
                <span class="inline-flex items-center text-pretty gap-1 flex-grow">
                  {{ link.title }}
                </span>
                <span class="inline-flex justify-center badge shadow shadow-gray-500  bg-{{item.color}}"
                  *ngIf="link.apiCountUrl">
                  <app-api-count [url]="link.apiCountUrl"></app-api-count>
                </span>
              </div>
            </a>
          </mat-list>
        </mat-card-content>

      </mat-card> -->
    </ng-container>
  </div>




  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title> Facilities Distribution</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ghana-map></app-ghana-map>
    </mat-card-content>
  </mat-card> -->


  <!-- <div class="flex flex-wrap justify-between gap-2">
    <mat-card class="w-[32%]" *ngFor="let item of menuItems">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <mat-nav-list>
        <a mat-list-item class="border-b pt-1 pb-1" [routerLink]="link.url" [queryParams]="link.urlParams"
          *ngFor="let link of item.children">

          <div class="flex gap-1 items-center">
            <span class="inline-flex items-center text-pretty gap-1 flex-grow">
              {{ link.title }}
            </span>
            <span class="inline-flex justify-center badge badge-warning" *ngIf="link.apiCountUrl">
              <app-api-count [url]="link.apiCountUrl"></app-api-count>
            </span>
          </div>
        </a>
      </mat-nav-list>

    </mat-card>


  </div> -->
</div>
