<div class="flex flex-col gap-2 w-full">

  <mat-card>
    <mat-card-header>
      <mat-card-title> <mat-icon>search</mat-icon> Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-search-widget></app-search-widget>
    </mat-card-content>
  </mat-card>
  <div class="h-[600px]">
    <app-ghana-map></app-ghana-map>
  </div>
  <div class="flex flex-wrap justify-between  gap-2">

    <app-dashboard-tile class="w-[32%] min-w-[300px]" [icon]="'person_outlined'" [title]="'Licenses'"
      [description]="'Manage Practitioner Licenses'" [counterUrl]="'licenses/count'"></app-dashboard-tile>
    <app-dashboard-tile class="w-[32%] min-w-[300px]" [icon]="'list_alt'" [title]="'Applications'"
      [counterUrl]="'applications/count'" [description]="'Manage Practitioner Licenses'"
      [counterText]="'New Applications'"></app-dashboard-tile>
    <app-dashboard-tile class="w-[32%] min-w-[300px]" [icon]="'list_alt'" [title]="'Renewals'"
      [counterUrl]="'practitioners/renewal-count?status=Pending Approval'"
      [description]="'Manage Practitioner Licenses'" [counterText]="'Pending Approval'"></app-dashboard-tile>
  </div>

  <!-- <div class="flex flex-wrap justify-between gap-2">
    <mat-card class="w-[32%]" *ngFor="let item of menuItems">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <mat-nav-list>
        <a mat-list-item class="border-b pt-1 pb-1" [routerLink]="link.url" [queryParams]="link.urlParams"
          *ngFor="let link of item.children">

          <div class="flex gap-1 items-center">
            <span class="inline-flex items-center text-pretty gap-1 flex-grow">
              {{ link.title }}
            </span>
            <span class="inline-flex justify-center badge badge-warning" *ngIf="link.apiCountUrl">
              <app-api-count [url]="link.apiCountUrl"></app-api-count>
            </span>
          </div>
        </a>
      </mat-nav-list>

    </mat-card>


  </div> -->
</div>