<div class="flex flex-col gap-1">

  <mat-card>
    <mat-card-content>
      <app-load-data-list [hint]="hint" [filters]="filters" [showFilterButton]="false" [timestamp]="ts" [url]="url"
        [getActions]="getActions" (onSelect)="setSelectedApplications($event)" [useResponseFilters]="false"
        [showAllFilters]="true">
        <ng-template #selectionOptions>
          <div class="flex gap-1 items-center">
            <app-application-status-manager [selectedApplications]="selectedApplications" *ngIf="status && form_type"
              [applicationStatus]="status" [formType]="form_type"
              (statusChanged)="updateTimestamp()"></app-application-status-manager>
            <app-export-table [objects]="selectedApplications"></app-export-table>
          </div>

        </ng-template>
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>