<div class="alert alert-{{type}} flex items-center" [class.alert-dismissible]="dismissible" role="alert"
  *ngIf="visible">
  <div class="pr-2">
    <mat-icon>{{icon}}</mat-icon>
  </div>
  <div class="flex-auto">
    <div class="alert-body">
      <h4 *ngIf="title" class="alert-title">{{ title }}</h4>
      <div class="alert-message">
        <ng-content></ng-content>
        <span *ngIf="!hasContent">{{ message }}</span>
      </div>
    </div>

    <button *ngIf="dismissible" type="button" class="alert-dismiss" (click)="dismiss()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>