<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Details">
    <ng-template matTabContent>
      <mat-card>
        <mat-card-content>
          <app-data-loader [fetchData]="loadData" (dataLoaded)="setData($event)">

            <ng-template #content let-application>
              <app-form-generator *ngIf="formTemplate" #form [fields]="formTemplate" mode="view"></app-form-generator>

              <div class="flex flex-col gap-1" *ngIf="!formTemplate">
                <app-json-display [value]="application" [objectType]="'object'"></app-json-display>
                <p>
                  <!-- <span class="form-label">{{ item.key }}:</span> <br> <span>{{ item.value }}</span> -->
                </p>

              </div>
            </ng-template>
          </app-data-loader>

        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-tab>
  <mat-tab label="Timeline">
    <ng-template matTabContent>
      <mat-card>
        <mat-card-content>
          <app-application-timeline [applicationUuid]="id" [viewMode]="'full'" [isPortal]="false">
          </app-application-timeline>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-tab>

</mat-tab-group>