<!-- <div class="flex gap-2">
  <form ngNativeValidate (submit)="submit()" class=" flex gap-1 flex-wrap w-full align-baseline">
    <mat-form-field class="flex-grow" appearance="fill">
      <input name="param" required matInput placeholder="Search" [(ngModel)]="param">
    </mat-form-field>
    <mat-form-field class="flex-grow" appearance="fill">
      <mat-label>Search By</mat-label>
      <mat-select name="searchType" required [(ngModel)]="searchType">
        <mat-option [value]="''">Choose one</mat-option>
        <mat-option *ngFor="let type of types" [value]="type.key">{{type.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
</div> -->