<div class="flex flex-col gap-1">
  <mat-card>
    <mat-card-content>
      <div class="flex flex-col gap-1" *ngIf="object != null">
        <div class="flex gap-2  items-center">
          <div class="flex flex-col gap-1">
            <h3 class="text-lg">{{object.name}}</h3>
            <div class="flex gap-2 items-baseline">
              <span><span class="font-light text-primary">Phone:</span>
                {{object.phone}} </span>
              <span><span class="font-light text-primary"> Email:</span>
                {{object.email}}</span>
              <span><span class="font-light text-primary">Location:</span>{{object.location}}</span>
            </div>


          </div>

        </div>

      </div>
      <div class="" *ngIf="errorLoadingData">
        <b>Error loading data. Please try again</b>
        <button mat-raised-button (click)="getDetails()">Reload</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-tab-group *ngIf="object != null" mat-stretch-tabs="false" mat-align-tabs="start">

    <mat-tab label="CPD Organized">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-cpd-list [providerUuid]="object.uuid"></app-cpd-list>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Users">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>

          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
