<div class="flex flex-col gap-1">

  <mat-card>
    <mat-card-content>
      <app-load-data-list [timestamp]="ts" [url]="url" (onSelect)="setSelectedItems($event)" [showSearch]="false"
        [getActions]="getActions" [showAllFilters]="true" [onFilterSubmitted]="filterSubmitted"
        [showTableTitle]="false">
        <ng-template #selectionOptions>
          <app-export-table></app-export-table>
        </ng-template>
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #twoFaDialog>
  <h2 mat-dialog-title>Two Factor Authentication</h2>
  <mat-dialog-content>
    <p>Two Factor Authentication is required for this user. Please scan the QR code below with your authenticator app.
    </p>
    <img [src]="qrCodeUrl" alt="QR Code">
    <p>Enter the code from your authenticator app:</p>
    <mat-form-field appearance="outline">
      <mat-label>Authentication Code</mat-label>
      <input matInput [(ngModel)]="authCode" type="text">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" color="primary">Submit</button>
  </mat-dialog-actions>
</ng-template>
