<button *ngIf="enableShowHideButton" class="btn btn-sm btn-primary" (click)="showOrHide()">{{show ? 'Hide' : 'Show'}}
  {{showHideButtonTitle}}</button>
<form *ngIf="show" #form ngNativeValidate (submit)="formType === 'filter' ?  generateFilterUrl() : startSubmit() "
  class=" flex flex-col gap-1">

  <div [ngClass]="{'grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4' : layout === 'grid',
      'flex flex-wrap max-h-[300px] overflow-auto' : layout === 'horizontal',
      'flex flex-col gap-1' : layout === 'vertical'
    }">

    <ng-container *ngFor="let field of fields; let i = index">
      <div *ngIf="isRow(field)" class="flex gap-1 justify-between p-2">
        <div *ngFor="let subField of field" class="flex-col gap-1 flex-auto">
          <label>{{subField.label}} <span *ngIf="subField.required">*</span> </label>
          <div class="text-gray-500 text-sm">{{subField.hint}}</div>
          <div *ngIf="subField.showOnly === true;">
            <ng-container *ngTemplateOutlet="renderReadOnly; context: { $implicit: subField }"></ng-container>
          </div>
          <div *ngIf="!subField.showOnly">
            <ng-container *ngTemplateOutlet="renderField; context: { $implicit: subField }"></ng-container>
          </div>
        </div>
      </div>
      <div *ngIf="isFormField(field)" class="flex flex-col gap-1">

        <label>{{field.label}} <span *ngIf="field.required">*</span> </label>
        <div class="text-gray-500 text-sm">{{field.hint}}</div>

        <div *ngIf="field.showOnly === true;">
          <ng-container *ngTemplateOutlet="renderReadOnly; context: { $implicit: field }"></ng-container>
        </div>
        <div *ngIf="!field.showOnly">
          <ng-container *ngTemplateOutlet="renderField; context: { $implicit: field }"></ng-container>
        </div>
      </div>

    </ng-container>
  </div>
  <ng-content></ng-content>
  <div class="flex gap-1" [ngClass]="{'sticky left-0': layout === 'horizontal'}">
    <ng-content select="[submitButton]"></ng-content>
    <button type="button" *ngIf="showResetButton" mat-stroked-button color="warn"
      (click)="resetForm()">{{resetButtonText}}</button>
    <button type="submit" *ngIf="showSubmitButton" mat-raised-button color="primary"
      [disabled]="submitting || !isFilterFormValid()">{{submitting ? 'Submitting...' : submitButtonText}}</button>

  </div>
</form>
<ng-template #renderReadOnly let-field>
  {{field.value}}
</ng-template>
<ng-template #renderField let-field>
  <ng-container *ngIf="getCustomTemplate(field.name) as customTemplate">
    <ng-container
      *ngTemplateOutlet="customTemplate; context: { $implicit: field, onChange: setFieldValue.bind(this) }"></ng-container>
  </ng-container>
  <ng-container *ngIf="!getCustomTemplate(field.name)" [ngSwitch]="field.type">
    <div *ngSwitchCase="'radio'">
      <span *ngFor="let option of field.options">
        <input type="radio" [value]="option.value" [(ngModel)]="field.value" name="{{field.name}}" />
        {{option.key}}</span>
    </div>
    <mat-form-field class="flex-auto" *ngSwitchCase="'select'" appearance="outline">
      <mat-select [required]="field.required" [(ngModel)]="field.value" name="{{field.name}}">
        <ng-container *ngTemplateOutlet="selectFilter; context: { fieldName: field.name }"></ng-container>

        <mat-option value="">Choose one</mat-option>
        <mat-option
          *ngFor="let option of field.options | filterObjects:(filterTextMap[field.name] || ''):filterProperties"
          [value]="option.value">{{option.key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-auto" *ngSwitchCase="'multi-select'" appearance="outline">
      <mat-select [required]="field.required" [(ngModel)]="field.value" name="{{field.name}}" multiple>
        <ng-container *ngTemplateOutlet="selectFilter; context: { fieldName: field.name }"></ng-container>

        <mat-option value="">Choose one</mat-option>
        <mat-option
          *ngFor="let option of field.options | filterObjects:(filterTextMap[field.name] || ''):filterProperties"
          [value]="option.value">{{option.key}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-auto" *ngSwitchCase="'textarea'" appearance="outline">

      <textarea class="flex-auto" [required]="field.required" matInput [(ngModel)]="field.value"
        name="{{field.name}}"></textarea>
    </mat-form-field>
    <div *ngSwitchCase="'picture'" class="flex flex-col gap-1">

      <app-file-uploader [assetType]="field.assetType" (onFilesSelected)="onFileSelected($event, field)"
        [existingImage]="field.value" (onUploadCompleted)="setFieldValue($event, field)"></app-file-uploader>
    </div>
    <!-- if it's only a label just show the label. this will be used to display some text that does not represent anything the user is suppposed to submit data for -->
    <div *ngSwitchCase="'label'" class="flex flex-col gap-1">

    </div>
    <div *ngSwitchCase="'file'" class="flex flex-col gap-1">

      <app-file-uploader [assetType]="field.assetType" [accept]="field.file_types || '*/*'"
        (onFilesSelected)="onFileSelected($event, field)" [existingImage]="field.value"
        (onUploadCompleted)="setFieldValue($event, field)"></app-file-uploader>
    </div>


    <app-ckeditor [value]="field.value" [name]="field.name" (valueChange)="setFieldValue($event, field)"
      *ngSwitchCase="'html'"></app-ckeditor>

    <app-json-editor [initialValue]="field.value" (valueChange)="setFieldValue($event, field)"
      *ngSwitchCase="'json'"></app-json-editor>
    <div *ngSwitchCase="'api'">
      <!-- if it's a search, once a selection is made show the selected item and hide the selection thing till the user clears it -->
      <div *ngIf="field.value && field.apiType === 'search'">
        <div class="flex gap-1 items-center">

          <span>{{field.value}}</span>
          <button mat-icon-button color="warn" (click)="clearFieldValue(field)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <app-select-object *ngIf="!field.value || field.apiType !== 'search'" [url]="field.api_url!"
        [labelProperty]="field.apiLabelProperty || '' " [keyProperty]="field.apiKeyProperty || ''"
        [type]="field.apiType!" [selection_mode]="field.selection_mode || 'single'" [initialValue]="field.value"
        (selectionChanged)="setFieldValue($event, field)" [fieldLabel]="field.label">
      </app-select-object>
    </div>


    <mat-form-field appearance="outline" *ngSwitchCase="'date'">

      <input [(ngModel)]="field.value" matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()"
        readonly>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngSwitchCase="'datetime'">

      <input [(ngModel)]="field.value" matInput [matDatepicker]="picker">
      <mat-hint>DD/MM/YYYY HH:MM</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline" *ngSwitchCase="'date-range'">

      <mat-date-range-input [rangePicker]="rangepicker">
        <input matStartDate #start [value]="getDateRangeValue(field).start" placeholder="Start date">
        <input matEndDate #end [value]="getDateRangeValue(field).end" (dateChange)="onDateChange(field, start, end)"
          placeholder="End date">
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="rangepicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangepicker></mat-date-range-picker>
    </mat-form-field>

    <app-string-array-input *ngSwitchCase="'list'" [items]="field.value" [name]="field.name"
      (valueChanged)="setFieldValue($event, field)"></app-string-array-input>

    <div *ngSwitchCase="'checkbox'">
      <mat-checkbox [(ngModel)]="field.value" name="{{field.name}}" [required]="field.required">
        {{field.checkboxLabel || ''}}
      </mat-checkbox>
    </div>
    <mat-form-field *ngSwitchDefault appearance="outline">

      <input matInput [required]="field.required" type="{{field.type}}" [(ngModel)]="field.value"
        name="{{field.name}}" />
    </mat-form-field>

    <datalist id="{{formId+field.name}}_datalist" *ngIf="field.options?.length > 0">
      <option *ngFor="let option of field.options" [value]="option.value">{{option.key}}</option>
    </datalist>



  </ng-container>
</ng-template>

<ng-template #selectFilter let-fieldName="fieldName">
  <div class="px-2 py-1 z-10 border-bottom-primary sticky top-0 bg-white border-bottom-primary">
    <input type="text" matInput class="flex-auto w-full px-3 border rounded" placeholder="Search list"
      [(ngModel)]="filterTextMap[fieldName]" [ngModelOptions]="{standalone: true}" (click)="$event.stopPropagation()">
  </div>
</ng-template>
