.data-loader-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 300px;
  text-align: center;
}

.data-loader-error {
  color: #d32f2f;

  button {
    margin-top: 16px;
  }
}

.data-loader-empty {
  color: #757575;

  .empty-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    color: #bdbdbd;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}
