<mat-card>
  <mat-card-content>
    <app-form-generator [url]="formUrl" [fields]="fields" [existingObjectUrl]="existingUrl"
      (onSubmit)="formSubmitted($event)" [id]="id" [sendAsJson]="true">

      <ng-template fieldTemplate="template_content" let-field let-onChange="onChange">
        <div class="flex flex-col gap-2">
          <p>You can upload a word document or enter the template below.</p>

          <button class="self-start" mat-stroked-button color="primary" type="button"
            (click)="triggerFileInput()">Select word
            document</button>

          <input class="hidden" [accept]="" #fileInput type="file" (change)="uploadDocx($event)">
          <mat-radio-group [(ngModel)]="editor" aria-label="Select an editor">
            <mat-radio-button value="ckeditor">Use the letter editor</mat-radio-button>
            <mat-radio-button value="template-designer">Use the html template editor</mat-radio-button>
          </mat-radio-group>
          <app-ckeditor *ngIf="editor === 'ckeditor'" #editor [value]="field.value" [name]="field.name"
            (valueChange)="setContent($event)"></app-ckeditor>
          <app-template-designer #templateDesigner *ngIf="editor === 'template-designer'" [initialHtml]="field.value"
            (htmlExport)="setContent($event)" #editor (valueChange)="setContent($event)"></app-template-designer>
        </div>
      </ng-template>



    </app-form-generator>
  </mat-card-content>
</mat-card>
