<div class=" flex flex-col gap-1">


  <mat-card>

    <mat-card-content>
      <app-load-data-list [showDeleted]="false" [showExport]="false" [showInfo]="false" [showSort]="false"
        [showFilterButton]="false" [timestamp]="ts" [url]="url" [getActions]="getActions"
        (onSelect)="setSelectedItems($event)">
        <ng-template #selectionOptions>
          <div class="inline-flex gap-1">
            <button *ngFor="let status of allStatuses" mat-raised-button color="primary"
              [disabled]="selectedItems.length === 0" (click)="approve(status)">Set to:
              {{status.title}}</button>
            <app-export-table [objects]="selectedItems"></app-export-table>
          </div>

        </ng-template>
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
</div>
