.mini-card {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
}

.mat-column-select {
  overflow: initial;
}

.strikethrough {
  text-decoration: line-through;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.allFilters {
  // max-height: 135px;
  overflow-y: auto;
  max-width: calc(100vw - 300px);
}