.mini-card {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
}

.mat-column-select {
  overflow: initial;
}

.strikethrough {
  text-decoration: line-through;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.allFilters {
  // max-height: 135px;
  // overflow-x: auto;
  max-width: calc(100vw - 300px);
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  border: 1px solid rgba(0, 0, 0, 0.12);
  /* Light gray border */
}

/* Optional: Remove double borders between cells */
.mat-mdc-row,
.mat-mdc-header-row {
  border-bottom-width: 0;
}

/* Optional: Add outer border to the whole table */
.mat-mdc-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
