
.mini-card{
  display: flex;
  flex-direction: row;
  gap: 4px;
align-items: center;
}

.parent{
  display: flex;
  flex-direction: column;
}
.mat-column-select {
  overflow: initial;
}

.strikethrough{
  text-decoration: line-through;
}
