<ng-container *ngIf="showYear">
  <mat-form-field appearance="fill" class="flex-auto">
    <mat-label>Year </mat-label>
    <input matInput type="text" name="year" [(ngModel)]="_year" />
    <button matSuffix mat-raised-button color="primary" (click)=" onYearChange()">Get Data</button>
  </mat-form-field>
</ng-container>
<ng-container *ngIf="showYear && !year"></ng-container>
<app-load-data-list [url]="url" [timestamp]="ts" [getActions]="getActions" [showFilterButton]="false"
  [showSearch]="false" [showReset]="false" [showDeleted]="false" [showSort]="false"
  (onSelect)="setSelectedItems($event)">
  <ng-template #header>
    {{title}}
  </ng-template>
  <ng-template #selectionOptions>
    <div class="flex gap-1 items-center">

      <app-export-table [objects]="selectedItems"></app-export-table>
    </div>

  </ng-template>
</app-load-data-list>
