
<span [ngSwitch]="objectType">
  <span *ngSwitchCase="'array'">
    <ul>
      <li *ngFor="let item of value">
        <app-json-display [depth]="depth+1" [value]="item"></app-json-display>
      </li>
    </ul>
  </span>
  <span *ngSwitchCase="'object'">
    <app-json-display [depth]="depth+1"  [value]="value"></app-json-display>
  </span>
  <span *ngSwitchCase="'image'" class="overflow-visible">
    <img [src]="value" alt="image" [style.height.px]="imageHeight">
  </span>
  <span *ngSwitchCase="'link'">
    <a [href]="value">{{value}}</a>
  </span>
  <span *ngSwitchDefault>
    {{value}}
  </span>
</span>


