<div class="flex flex-col gap-2">
  <a routerLink="/licenses/renewal-form" class="self-start" mat-raised-button color="accent"><mat-icon>plus</mat-icon>
    Renew a
    new
    license</a>

  <div *ngIf="!licenseType">
    <mat-card>

      <mat-card-content>
        <h3 class="text-red">No license type selected</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="licenseType">
    <mat-card>

      <mat-card-content>
        <app-form-generator (onSubmit)="filterSubmitted($event)" [submitButtonText]="'Filter'" [fields]="filterFields"
          [formType]="'filter'"></app-form-generator>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="licenseType" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">

    <ng-container *ngFor="let item of menuItems">
      <app-dashboard-tile class=" min-w-[300px]" [url]="item.url" [icon]="item.icon" [title]="item.title"
        [counterText]="item.apiCountText" [description]="item.description" [counterUrl]="item.apiCountUrl"
        [urlParams]="item.urlParams"></app-dashboard-tile>
    </ng-container>
    <app-dashboard-tile class="min-w-[300px]" [url]="'/licenses/renewal-print-queue/'+licenseType" [icon]="'print'"
      [title]="'Print Queue'" [description]="''"></app-dashboard-tile>
    <app-dashboard-tile class="min-w-[300px]" [url]="'/licenses/renewal-reports/'+licenseType" [icon]="'list'"
      [title]="'Renewal Reports'" [description]="''"></app-dashboard-tile>
    <app-dashboard-tile class="min-w-[300px]" [url]="'/licenses/gazette/'+licenseType" [icon]="'list'"
      [title]="'Gazette'" [description]="''"></app-dashboard-tile>
  </div>
</div>
