<div *ngIf="isLoggedIn; else login " class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="bg-white rounded-full"><img src="{{logo}}" [style.height.px]="50" alt="logo" ></div>

    <h1 class="example-app-name">{{appName}}</h1>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon> {{user?.email}} <mat-icon>keyboard_arrow_down</mat-icon> </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Change Password</button>
      <button mat-menu-item>View Profile</button>
    </mat-menu>
    <button mat-button (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [(opened)]="opened">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container flex flex-col gap-2 p-2">
        <h3 class="page-title no-print">{{title}}</h3>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<p-toast></p-toast>

<ng-template #login>
  <app-login></app-login>
</ng-template>
