<h2 mat-dialog-title>Submit payment for invoice</h2>
<mat-dialog-content>
  <div class="flex flex-col gap-2">

    <p>
      <b>Invoice Id:</b> {{invoice.application_id}}
    </p>
    <p>
      <b>Unique Id:</b> {{invoice.unique_id}}
    </p>
    <p>
      <b>Name:</b> {{invoice.first_name}} {{invoice.last_name}}
    </p>
    <p class="text-xl text-right w-full font-bold text-black">
      <b>Total:</b> {{invoice.amount}}
    </p>
    <app-form-generator [url]="formUrl" [fields]="fields" [existingObjectUrl]="existingUrl"
      (onSubmit)="formSubmitted($event)" [id]="id">
    </app-form-generator>

  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="false">Close</button>
</mat-dialog-actions>
