<div class="flex-col gap-4">
  <mat-card *ngIf="!id && !selectedLicense">
    <mat-card-header>
      <mat-card-title>Select License</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <app-mat-datepicker [label]="'Date'" (onFinish)="onDateChanged($event)" [initialDate]="date"></app-mat-datepicker>
      <app-load-data-list #dataList [timestamp]="ts" [showSelectionContainer]="false" [url]="licenseSearchUrl"
        [getActions]="getActions" [preload]="false" [rowSelection]="'single'" [searchParam]="licenseUuid"
        [showExport]="false" [showInfo]="false" [showPagination]="false" [showFilterButton]="false" [showSort]="false"
        [showTableTitle]="false">
      </app-load-data-list>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="id || selectedLicense">
    <mat-card-content>
      <app-form-generator [url]="formUrl" [fields]="fields" [existingObjectUrl]="existingUrl"
        (onSubmit)="formSubmitted($event)" [id]="id" [extraData]="extraFormData" [retainExtraFields]="fieldsToRetain">
      </app-form-generator>
    </mat-card-content>
  </mat-card>
</div>
