<h1 mat-dialog-title>Edit Additional Qualification</h1>

<div class="dialog-container">

    <div class="wrap-text">
        <div mat-dialog-content >
          <app-form-generator [url]="formUrl" [fields]="fields" [existingObjectUrl]="existingUrl"
      (onSubmit)="formSubmitted($event)" [id]="id" [extraData]="extraFormData">
    </app-form-generator>
        </div>
    </div>
</div>


<mat-dialog-actions  align="end">

    <button  mat-flat-button color="warn" type="button" [mat-dialog-close]="false">
        Cancel
    </button>
</mat-dialog-actions>
