.status-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.status-timestamp {
    margin-top: 8px;
    font-size: 14px;
}

.movement-container {
    display: flex;
}

.movement-details {
    flex: 1; // take up all available space
    display: flex;
    flex-direction: column;
}

.movement-details > div {
    margin-bottom: 8px; // add some margin between elements
    align-items: center;
}

/* adjust the flex value based on which fields are shown */
.movement-details.showViewMapButton {
    //flex: 1 0 120px; //take up available space, but don't grow beyond 120 pixels
}

.movement-details.showPoDButton {
    flex: 1 0 260px; //Not working from here - set in component
}

.mat-mdc-unelevated-button:not(:disabled) {
    margin-bottom: 10px;
}

.movement-label {
    font-weight: bold;
}

button {
    height: 35px;
    width: 145px;
    margin: 24px 0px 16px 0px !important;
}

.share-button {
    background-color: #f4f5f5;
    color: #424242;
}
