<h1 mat-dialog-title>{{ config.title }}</h1>

<div mat-dialog-content>
  <div *ngIf="config.icon" class="dialog-icon">
    <mat-icon inline>{{ config.icon }}</mat-icon>
  </div>
  <div class="wrap-text">
    <div mat-dialog-content [innerHTML]="config.message"></div>
  </div>
</div>


<mat-dialog-actions *ngIf="!config.closeOnTimer">
  <button mat-flat-button color="primary" type="button" [mat-dialog-close]="true" cdkFocusInitial>
    {{ config.primaryButton || "OK" }}
  </button>
  <button *ngIf="config.secondaryButton" mat-flat-button color="secondary" type="button" [mat-dialog-close]="false">
    {{ config.secondaryButton }}
  </button>
</mat-dialog-actions>