<div class="flex flex-col gap-1">
  <mat-card>
    <mat-card-content>
      <div class="flex flex-col gap-1" *ngIf="object != null">
        <div class="flex gap-2  items-center">
          <div class="flex flex-col gap-1">
            <h3 class="text-lg">{{object.topic}}</h3>
            <div class="flex gap-2 items-baseline">
              <span><span class="font-light text-primary">Year:</span>
                {{object.date}} </span>
              <span><span class="font-light text-primary"> Provider:</span>
                {{object.provider_name}}</span>
              <span><span class="font-light text-primary">Category:</span>{{object.category}}</span>
              <span><span class="font-light text-primary">Credits:</span> {{object.credits}}</span>
            </div>


          </div>

        </div>

      </div>
      <div class="" *ngIf="errorLoadingData">
        <b>Error loading data. Please try again</b>
        <button mat-raised-button (click)="getCpdDetails()">Reload</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-tab-group *ngIf="object != null">
    <mat-tab label="Details">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-key-value-display *ngIf="object" [object]="object"
              [displayedColumns]="displayedColumns"></app-key-value-display>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Attendance">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-cpd-attendance *ngIf="object" [cpdUuid]="object.uuid"></app-cpd-attendance>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>






<!-- <div class="modal fade" id="migrate_cpd_attendees_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="smallModalLabel">Migrate Attendees </h4>
      </div>
      <div class="modal-body">
        <form class="" ngNativeValidate #n="ngForm" (ngSubmit)="migrateSelected()">


          <div *ngIf="migration_cpd != null">
            <label>Date</label>
            <br>
            <input type="date" name="migration_date" [(ngModel)]="migration_date">
            <hr>
            <label>Venue</label>
            <br>
            <input type="text" name="migration_venue" [(ngModel)]="migration_venue">
            <hr>
            <input type="submit" class="btn btn-primary" value="submit">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div> -->
