<mat-form-field class="flex-auto">
  <mat-label>{{fieldLabel}}</mat-label>
  <mat-select class="flex-auto" [(value)]="selectedItem" (selectionChange)="selectionMade()" appearance="outline"
    [multiple]="selection_mode === 'multiple'">
    <div class="flex gap-1 p-2" *ngIf="selection_mode === 'multiple'">
      <button color="primary" mat-raised-button (click)="selectAll()">Select All</button>

      <button color="warn" mat-flat-button (click)="clearSelection()">Clear</button>
    </div>
    <mat-option>{{selection_mode === 'multiple' ? 'Choose one or more':'Choose one'}} </mat-option>
    <!-- if simple array of strings or numbers, output the values. if objects, read the props -->
    <mat-option *ngFor="let object of objects" [value]="getValue(object)">{{
      getLabel(object, labelProperty)}} </mat-option>
  </mat-select>
</mat-form-field>
