<div class="list-group-item">
  <label>Add New</label> <br>
  <input [(ngModel)]="newItem" name="new_item" type="text"> <button mat-flat-button type="button" (click)="addNew()"
    class=" btn-success">Add</button>
</div>
<mat-list role="list">
  <mat-list-item *ngFor="let item of objects; let i = index" role="listitem">
    <div class="flex">
      <div class="flex-auto" [ngClass]="{'line-through': removedItems.includes(item)}">{{item}}</div>
      <div class="flex-none flex">
        <button mat-icon-button *ngIf="removedItems.indexOf(item) == -1" (click)="removeItem(item)" color="warn"
          matTooltip="Mark item to be removed when saved"><mat-icon>cancel</mat-icon> </button>
        <button mat-icon-button color="primary" *ngIf="removedItems.includes(item)" (click)="undoRemove(item)"
          matTooltip="Undo removal" class="btn-warning"><mat-icon>restore_page</mat-icon> </button>
        <button mat-icon-button color="primary" *ngIf="i > 0" (click)="moveUp(item)" matTooltip="Move item one step up"
          class="btn-warning"><mat-icon>arrow_circle_up</mat-icon> </button>
        <button mat-icon-button color="primary" *ngIf="i < objects.length - 1" (click)="moveDown(item)"
          matTooltip="Move item one step down" class="btn-warning"><mat-icon>arrow_circle_down</mat-icon> </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<!-- <div class="list-group"  >


  <a class="list-group-item" [ngClass]="{'removedItem': removedItems.indexOf(item) != -1}" *ngFor="let item of objects; let i = index">
  {{item}}
  <span class="pull-right">

  </span>
  </a>
</div> -->