.ckeditor-wrapper {
  position: relative;

  .ckeditor-toolbar-extra {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 4px 4px 0 0;

    button {
      mat-icon {
        color: #555;
      }

      &:hover mat-icon {
        color: #2196f3;
      }
    }
  }
}
