<div class="w-full">
  <div class="flex flex-col gap-2 justify-center items-center">
    <img src="{{logo}}" alt="logo" class="w-[100px] h-[100px]">
    <h2>{{appName}}</h2>

  </div>
  <div class=" w-[60%] m-auto">

    <mat-card>
      <mat-card-header>
        <div class="flex-col flex gap-2 items-center justify-center w-full">
          <div class="w-full text-center text-lg font-bold">Login</div>


          <div class="w-full text-center text-sm font-bold">
            <div class="text-sm font-bold " *ngIf="twoFactorAuthMode">
              Two Factor Authentication
            </div>
            <div class="text-sm font-bold " *ngIf="!twoFactorAuthMode">
              Please enter your credentials
            </div>
          </div>
        </div>

      </mat-card-header>
      <mat-card-content>
        <form *ngIf="!twoFactorAuthMode" ngNativeValidate (ngSubmit)="login()">
          <div class="card-body flex flex-col gap-2 items-center pt-2">


            <div class="alert alert-danger" *ngIf="error">
              {{error_message}}
            </div>
            <div class="alert alert-warning background-warning" *ngIf="flash_message != null">
              {{flash_message}}
            </div>
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="username" type="text" name="email" class="form-control" required matInput>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Password*</mat-label> <br>
              <input type="password" name="password" [(ngModel)]="password" class="form-control" required matInput>
            </mat-form-field>
            <re-captcha *ngIf="recaptchaSiteKey" (errored)="recaptchaError()" (resolved)="resolved($event)" type="image"
              [siteKey]="recaptchaSiteKey"></re-captcha>



            <div class="row m-t-30">
              <div class="col-md-12">
                <app-loading *ngIf="loading"></app-loading>
                <button [disabled]="!recaptchaVerified" mat-raised-button color="primary" *ngIf="!loading" type="submit"
                  class="full-width">Submit</button>
              </div>
            </div>
            <u class="link text-muted" (click)="forgotPassword()">Forgot Password</u>




          </div>
        </form>
        <form *ngIf="twoFactorAuthMode" ngNativeValidate (ngSubmit)="submit2FA()">
          <div class="card-body flex flex-col gap-2 items-center pt-2">


            <div class="alert alert-danger" *ngIf="error">
              {{error_message}}
            </div>

            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Google Authenticator Code</mat-label>
              <input [(ngModel)]="twoFactorCode" type="text" name="twoFactorCode" class="form-control" required
                matInput>
            </mat-form-field>



            <div class="row m-t-30">
              <div class="col-md-12">
                <app-loading *ngIf="loading"></app-loading>
                <button mat-raised-button color="primary" *ngIf="!loading" type="submit"
                  class="full-width">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <div class="w-full text-center">
          &copy; Medical & Dental Council Ghana <span id="year"></span>. All Rights Reserved.
          <br>
          Unauthorized access is prohibited. All data is protected by the Data Protection Law
        </div>
      </mat-card-footer>
    </mat-card>


  </div>

</div>
