.status-icon {
    height: 75px;
}

.status-msg {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 16px;
}

.default_icon_size {
    font-size: 2rem;
}

.icon {
    font-size: 2rem;
}

button {
    height: 35px;
    width: 145px;
}

.phone-link {
    color: #1e4a8d !important;
    text-decoration: none;
}

.mat-mdc-button {
    margin-top: 8px;
    margin-bottom: 0;
}

.red-class {
    color: #FF0000 !important;
}

.green-class {
    color: #009640;
}

.blue-class {
    color: #1d71b8;
}

.mat-icon {
    height: 64px;
    width: 64px;
    color: #1d71b8;
}

.material-icons {
    font-size: 64px;
}