/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/md-light-indigo/theme.css";


// Import the Angular Material theming functions
@import '@angular/material/theming';
@include mat-core();
// Define a custom primary color palette
$my-app-primary: mat-palette($mat-indigo); // The 700 and 900 values are bolder shades

// Define a custom accent color palette
$my-app-accent: mat-palette($mat-orange);

$my-app-warn: mat-palette($mat-red);

$my-app-secondary: mat-palette($mat-grey);
$my-typography: mat-typography-config($font-family: 'Muli, sans-serif'
  );
// Create the theme object
$my-app-theme: mat-light-theme((color: (primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
      ),
      typography: $my-typography ));


// Include the theme styles in your application
@include angular-material-theme($my-app-theme);


// Define your theme (or import it if it's defined elsewhere)
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $theme: mat-light-theme((color: (primary: $primary,
//         accent: $accent,
//       ),
//       typography: (font-family: 'Roboto, sans-serif'),
//       density: 1
//       ));

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background-color: #fefefe;
  font-family: Muli, "Helvetica Neue", sans-serif !important;
}




.row-gap-1 {
  gap: 1%
}

.text-red {
  color: red
}

.btn-bottom-margin {
  margin-bottom: 1rem;
}

// .mat-mdc-unelevated-button.mat-primary {
//   --mdc-filled-button-container-color: #0096fb;
//   --mdc-filled-button-label-text-color: #fff;
// }

.grey-button {
  background-color: #f4f5f5;
  color: #424242;
}

.center {
  display: flex;
  justify-content: center;
}

.error {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
}

.error-heading {
  font-size: 2rem;
  color: red;
  line-height: normal;
}

.error-header-icon {
  height: 70px !important;
  font-size: 70px !important;
  width: 70px !important;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  gap: 10px;
  align-items: center;

}



@media only screen and (min-width: 768px) {
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}





.p-galleria-item {
  min-height: 75vh !important;
}

.p-galleria-mask {
  --maskbg: #6c757d !important;
}

.gap8 {
  gap: 8px;
}

.gap4 {
  gap: 4px !important;
}


.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-word;

  word-break: break-word;
}

.full-width {
  width: 100%;
}

.form-row {
  margin-bottom: 7px;
}

.starthidden {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.btn-dark {
  background-color: #033661 !important;
  color: white;
}

.btn,
.badge {
  margin: 1px;
}

.card {
  margin: 4px;
}

.thin-border {
  border: solid thin;
}

.infobox {
  position: fixed;
  z-index: 1040;
  bottom: 0px;
  left: 0px;
}

.centerinfobox {
  position: fixed;
  z-index: 3999;
  top: 50%;
  right: 46%;
  box-shadow: 1px 5px 17px 12px #a3abb5;
}

.ag-theme-balham .bordered {
  border-top: 1px solid #c8ced3;
  border-left: 1px solid #c8ced3;
}

.info-success {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.info-loading {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.upinfobox {
  position: fixed;
  z-index: 999;
  top: 75px;
  right: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.all-caps {
  text-transform: uppercase
}

.all-lower-caps {
  text-transform: lowercase;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 5px;
  z-index: 15;
}

.sticky_tr {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 100px;
  z-index: 15;
}

.stick_div {
  background: white;
  padding: 10px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.user {
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

ul.subnav>li {
  padding-left: 20px;
}

.card .card-block {
  padding: 15px 15px 10px 15px;
}

.card-bg {
  background: #2ca8ff;
  color: white;
}

.green-gradient {
  background: #002400;
  /* Old browsers */
  background: -moz-linear-gradient(left, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #75c575 83%, #5dd45d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #75c575 83%, #5dd45d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #002400 0%, #005700 21%, #008a00 53%, #52b152 72%, #75c575 93%, #5dd45d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002400', endColorstr='#b4ddb4', GradientType=1);
  /* IE6-9 */
}

body {
  background-color: #ebecf1;
  font-size: 14px !important;
}

.link {
  cursor: pointer;
}

@media print {


  section {
    padding: 0px;
    margin: 0px !important;
    top: 0px;
    left: 0px;
  }

  .wrapper {
    padding: 0px;
    margin: 0px !important;
    top: 0px;
    left: 0px;
  }


  .no-print,
  .main-sidebar,
  .page-title {
    display: none;
    width: 0px !important;
    all: unset;
  }

  section {
    padding: 0px;
    margin: 0px !important;
    top: 0px;
    left: 0px;
  }


  .main-panel,
  .content-wrapper,
  .content,
  .container,
  .flex-col,
  .gap4 {
    all: unset !important;
  }
}


@media screen {
  #print_space {
    display: none;
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media print {
  #print_space {
    display: block;
  }
}

.well {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 10px;
  border-radius: 5px;
}

.bg-light-blue {
  background-color: #cce5ff !important;
}

.fixed_card {
  overflow-x: auto;
}

.fixed-length {
  max-height: 450px;
  overflow: auto
}

.fixed-height {
  max-height: 450px;
  overflow: auto
}

.dashboard-section {
  border: thin solid grey;
  border-radius: 5px;
  padding: 15px;
}

.dashboard--card-header {
  padding: 0px 0px 0 !important;
  border: 0;
}

.blue-hover-1 {
  color: white;
}

.bg-red {
  background-color: #F44336 !important;
  color: #fff;
}

.bg-red .content .text,
.bg-red .content .number {
  color: #fff !important;
}

.bg-pink {
  background-color: #E91E63 !important;
  color: #fff;
}

.bg-pink .content .text,
.bg-pink .content .number {
  color: #fff !important;
}

.bg-pink-hover:hover {
  background-color: rgb(231, 104, 104) !important;
  color: #fff !important;
}

.bg-purple {
  background-color: #9C27B0 !important;
  color: #fff;
}

.bg-purple .content .text,
.bg-purple .content .number {
  color: #fff !important;
}

.bg-purple-hover:hover {
  background-color: rgb(160, 94, 172) !important;
  color: #fff !important;
}

.bg-deep-purple {
  background-color: #673AB7 !important;
  color: #fff;
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
  color: #fff !important;
}

.bg-deep-purple-hover:hover {
  background-color: rgb(135, 111, 177) !important;
  color: #fff !important;
}

.bg-indigo {
  background-color: #3F51B5 !important;
  color: #fff;
}

.bg-indigo .content .text,
.bg-indigo .content .number {
  color: #fff !important;
}

.bg-blue {
  background-color: #2196F3 !important;
  color: #fff;
}


.bg-cyan {
  background-color: #00BCD4 !important;
  color: #fff;
}

.bg-cyan .content .text,
.bg-cyan .content .number {
  color: #fff !important;
}

.bg-teal {
  background-color: #009688 !important;
  color: #fff;
}

.bg-teal .content .text,
.bg-teal .content .number {
  color: #fff !important;
}

.bg-green {
  background-color: #4CAF50 !important;
  color: #fff;
}

.bg-green .content .text,
.bg-green .content .number {
  color: #fff !important;
}

.bg-light-green {
  background-color: #f2ffe2 !important;
}



.bg-lime {
  background-color: #CDDC39 !important;
  color: #fff;
}

.bg-lime .content .text,
.bg-lime .content .number {
  color: #fff !important;
}

.bg-yellow {
  background-color: #ffe821 !important;
  color: #fff;
}

.bg-yellow .content .text,
.bg-yellow .content .number {
  color: #fff !important;
}

.bg-amber {
  background-color: #FFC107 !important;
  color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
  color: #fff !important;
}

.bg-orange {
  background-color: #FF9800 !important;
  color: #fff;
}

.bg-orange .content .text,
.bg-orange .content .number {
  color: #fff !important;
}

.bg-deep-orange {
  background-color: #FF5722 !important;
  color: #fff;
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
  color: #fff !important;
}

.bg-brown {
  background-color: #795548 !important;
  color: #fff;
}

.bg-brown .content .text,
.bg-brown .content .number {
  color: #fff !important;
}

.bg-grey {
  background-color: #9E9E9E !important;
  color: #fff;
}

.bg-grey .content .text,
.bg-grey .content .number {
  color: #fff !important;
}

.bg-blue-grey {
  background-color: #607D8B !important;
  color: #fff;
}

.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
  color: #fff !important;
}

.bg-black {
  background-color: #000000 !important;
  color: #fff;
}

.bg-black .content .text,
.bg-black .content .number {
  color: #fff !important;
}

.bg-white {
  background-color: #ffffff !important;
  color: #fff;
}

.bg-white .content .text,
.bg-white .content .number {
  color: #fff !important;
}

.col-red {
  color: #F44336 !important;
}

.col-pink {
  color: #E91E63 !important;
}

.col-purple {
  color: #9C27B0 !important;
}

.col-deep-purple {
  color: #673AB7 !important;
}

.col-indigo {
  color: #3F51B5 !important;
}

.col-blue {
  color: #2196F3 !important;
}

.col-light-blue {
  color: #03A9F4 !important;
}

.col-cyan {
  color: #00BCD4 !important;
}

.col-teal {
  color: #009688 !important;
}

.col-green {
  color: #4CAF50 !important;
}

.col-light-green {
  color: #8BC34A !important;
}

.col-lime {
  color: #CDDC39 !important;
}

.col-yellow {
  color: #ffe821 !important;
}

.col-amber {
  color: #FFC107 !important;
}

.col-orange {
  color: #FF9800 !important;
}

.col-deep-orange {
  color: #FF5722 !important;
}

.col-brown {
  color: #795548 !important;
}

.col-grey {
  color: #9E9E9E !important;
}

.col-blue-grey {
  color: #607D8B !important;
}

.col-black {
  color: #000000 !important;
}

.col-white {
  color: #ffffff !important;
}

tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}

.ck-content {
  border: thin solid;
}

.page-break {
  page-break-before: always;
}

.photo_id_card {
  width: 48%;
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  text-align: center;
  border: thin dashed;
  vertical-align: middle;
  padding: 30px 0px;
  break-inside: avoid;
  background: url('assets/images/mdc_logo.png') right 10px bottom 10px no-repeat,
    url('assets/images/mdc_logo.png') left 10px bottom 11px no-repeat;
  background-size: 100px;
  margin-right: 10px;
  background-color: white !important;
}

.id_card_text {
  font-size: 25px;
  font-weight: 600;
  font-family: none;
}

.text-red {
  color: red;
}

.font-10 {
  font-size: 10px;
}

.text-blue {
  color: blue;
}

.big_font {
  font-size: 22px !important;
  font-weight: bold;
}

.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 999 !important;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  z-index: 999 !important;
}

#sidebar-overlay {
  z-index: 998 !important;
}

//create a style for any class starting with .in_good_standing



//give it the same styling as bootstrap badge
.badge {
  padding: 0.25em 0.4em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

@mixin badge-variant {
  padding: 0.25em 0.4em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.in_good_standing-In_Good_Standing,
.category-Medical,
.status-Alive,
.register_type-Permanent,
.register_type-Full,
.bg-success {
  @include badge-variant;
  color: white;
  background-color: green;
}

.in_good_standing-Not_In_Good_Standing,
.status-Deceased,
.register_type-Provisional {
  @include badge-variant;
  color: white;
  background-color: red;
}

.in_good_standing-Pending_Payment,
.in_good_standing-Pending_Approval,
.register_type-Temporary {
  @include badge-variant;
  color: white;
  background-color: orange;
}

.category-Dental {
  @include badge-variant;
  color: white;
  background-color: #17a2b8 !important;
}

.page-title {
  font-size: 18px;
}

.badge-warning {
  background-color: #ffc107;
  color: #000000;
}

.badge-primary {
  background-color: lightblue;
  color: mat-color($my-app-primary);
  display: inline-flex;
  align-items: center;
}

.mat-mdc-form-field {
  width: 100%;
  max-width: 450px;
}

.bg-danger {
  background-color: #dc3545 !important;
  color: white;
}

.bg-accent {
  background-color: mat-color($my-app-accent);
}

.light-accent {
  background-color: mat-color($my-app-accent, 100);
  color: mat-color($my-app-accent, 900);
}

.text-green {
  color: green;
}

.text-orange {
  color: orange;
}

.dashboard-card {
  // background: linear-gradient(mat-color($my-app-primary, 500), mat-color($my-app-primary, 600)) !important;
  // color: white;

  .icon {
    color: rgba(0, 0, 0, 0.38);
    position: absolute;
    bottom: 0;
    right: 0;
  }




  // Using the & operator to target the .dashboard-card itself when it's hovered
  &:hover {
    .icon {
      color: mat-color($my-app-accent, 100);
    }
  }
}

.text-accent {
  color: mat-color($my-app-accent, 300);
}

.text-primary {
  color: mat-color($my-app-primary);
}

.primary-200 {
  color: mat-color($my-app-primary, 200);
}

.active {
  background-color: mat-color($my-app-primary, 100) !important;
}

.bg-light-yellow {
  background-color: #fff7e0 !important;
}

.bg-light-red {
  background-color: #ffebe5 !important;
}

//bootstrap style table for legacy tables

.table {
  border-collapse: collapse !important
}

.table td,
.table th {
  background-color: #fff !important
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #ddd !important
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table td,
.table th {
  padding: .35rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef
}

.table tbody+tbody {
  border-top: 2px solid #e9ecef
}

.table .table {
  background-color: #fff
}

.table-sm td,
.table-sm th {
  padding: .3rem
}

.table-bordered {
  border: 1px solid #e9ecef
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #e9ecef
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .075)
}

.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: #b8daff
}

.table-hover .table-primary:hover {
  background-color: #9fcdff
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
  background-color: #9fcdff
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
  background-color: #dddfe2
}

.table-hover .table-secondary:hover {
  background-color: #cfd2d6
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
  background-color: #cfd2d6
}

.table-success,
.table-success>td,
.table-success>th {
  background-color: #c3e6cb
}

.table-hover .table-success:hover {
  background-color: #b1dfbb
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
  background-color: #b1dfbb
}

.table-info,
.table-info>td,
.table-info>th {
  background-color: #bee5eb
}

.table-hover .table-info:hover {
  background-color: #abdde5
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
  background-color: #abdde5
}

.table-warning,
.table-warning>td,
.table-warning>th {
  background-color: #ffeeba
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
  background-color: #ffe8a1
}

.table-danger,
.table-danger>td,
.table-danger>th {
  background-color: #f5c6cb
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
  background-color: #f1b0b7
}

.table-light,
.table-light>td,
.table-light>th {
  background-color: #fdfdfe
}

.table-hover .table-light:hover {
  background-color: #ececf6
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
  background-color: #ececf6
}

.table-dark,
.table-dark>td,
.table-dark>th {
  background-color: #c6c8ca
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
  background-color: #b9bbbe
}

.table-active,
.table-active>td,
.table-active>th {
  background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
  background-color: rgba(0, 0, 0, .075)
}

.thead-inverse th {
  color: #fff;
  background-color: #212529
}

.thead-default th {
  color: #495057;
  background-color: #e9ecef
}

.table-inverse {
  color: #fff;
  background-color: #212529
}

.table-inverse td,
.table-inverse th,
.table-inverse thead th {
  border-color: #32383e
}

.table-inverse.table-bordered {
  border: 0
}

.table-inverse.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .05)
}

.table-inverse.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, .075)
}

@media (max-width:991px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive.table-bordered {
    border: 0
  }
}

thead {
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 2;
}

.mdc-notched-outline__notch {
  border-right: none;
}
