<span *ngIf="existingImage">
  Current:
  <div pDefer >
    <ng-template>
      <p-image [src]="existingImage" [preview]="true" alt="Image" width="100"></p-image>
    </ng-template>
</div>
</span>
<p-fileUpload [name]="parameter" [url]="uploadUrl"  (onUpload)="onUpload($event)"
[multiple]="multiple" accept="image/*" [maxFileSize]="1000000"
 [chooseLabel]="chooseButtonLabel" [cancelLabel]="cancelButtonLabel" [uploadLabel]="uploadButtonLabel"
 [showCancelButton]="showCancelButton" [showUploadButton]="showUploadButton" [cancelStyleClass]="'btn btn-danger btn-sm'">
  <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
      </ul>
  </ng-template>
</p-fileUpload>
