<div class="flex flex-col gap-1">
  <div class="user p-3">
    <div class="flex flex-col gap-1" *ngIf="object != null">
      <div class="flex gap-2 text-lg items-center">
        <app-secure-image [filename]="object.picture" alt="Image" cssClass="rounded w-32 h-32">
        </app-secure-image>
        <div class="flex flex-col gap-1">
          <h3>{{object.name}}</h3>
          <small>(<em><b>{{object.license_number}} </b> </em>) </small>
        </div>
        <a mat-raised-button color="primary"
          routerLink="/licenses/form/update/{{object.type}}/{{object.uuid}}"><mat-icon>edit</mat-icon> Edit
          Details</a>
        <button mat-raised-button color="accent" (click)="editImage()"><mat-icon>image</mat-icon> Change
          Picture</button>

      </div>
      <div class="flex gap-3 flex-wrap items-center">
        <div class="bg-white text-black rounded shadow-sm p-1 flex gap-3" *ngFor="let tab of headerTabs">
          <span class="text-gray-600 font-thin">{{tab.label}}</span>
          <span [ngClass]="getClassFromState(object[tab.key])"
            class="border-l border-l-black pl-1 ">{{object[tab.key]}}</span>
        </div>



      </div>
    </div>
    <div class="col-sm-12" *ngIf="errorLoadingData">
      <b>Error loading data. Please try again</b>
      <button mat-raised-button (click)="getExistingObject()">Reload</button>


    </div>

  </div>
  <mat-tab-group *ngIf="object != null" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab *ngIf="isInDetailsTabs('details')">
      <ng-template matTabLabel=""> {{getTabTitle('details')}} </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-key-value-display *ngIf="object" [object]="object"
              [displayedColumns]="displayedColumns"></app-key-value-display>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('education')">
      <ng-template matTabLabel=""> {{getTabTitle('education')}} </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-additional-qualifications [practitioner]="object"></app-additional-qualifications>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('housemanship')">
      <ng-template matTabLabel=""> {{getTabTitle('housemanship')}} </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <app-housemanship-postings-list [showFilters]="false" [showSearch]="false"
              (onFilterSubmitted)="housemanshipPostingsListFilterSubmitted($event)"
              [queryParams]="postingHistoryQueryParams"></app-housemanship-postings-list>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('examination')">
      <ng-template matTabLabel=""> {{getTabTitle('examination')}} </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>

            <app-examination-registrations-list [urlFilters]="'intern_code='+object.license_number"
              [showFilters]="false"></app-examination-registrations-list>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('cpd')">
      <ng-template matTabLabel=""> {{getTabTitle('cpd')}} </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>

            <app-license-cpd-history [baseUrl]="'cpd/license-attendance'" [url]="'cpd/license-attendance'"
              [licenseNumber]="object.license_number"></app-license-cpd-history>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('renewal')">
      <ng-template matTabLabel=""> {{getTabTitle('renewal')}} </ng-template>
      <ng-template matTabContent>
        <app-renewal [license]="object"></app-renewal>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('superintending')">
      <ng-template matTabLabel=""> {{getTabTitle('superintending')}} </ng-template>
      <ng-template matTabContent>
        <app-superintending-history [licenseNumber]="object.license_number"></app-superintending-history>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('payments')">
      <ng-template matTabLabel=""> {{getTabTitle('payments')}} </ng-template>
      <ng-template matTabContent>
        <app-invoice-list [url]="'payment/invoices?unique_id='+object.license_number"></app-invoice-list>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('work')">
      <ng-template matTabLabel=""> {{getTabTitle('work')}} </ng-template>
      <ng-template matTabContent>
        <app-work-history [practitioner]="object"></app-work-history>

      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('activities')">
      <ng-template matTabLabel=""> {{getTabTitle('activities')}} </ng-template>
      <ng-template matTabContent>
        <app-activities [baseUrl]="'activities?param='+object.license_number"
          [url]="'activities?param='+object.license_number"></app-activities>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="isInDetailsTabs('documents')">
      <ng-template matTabLabel=""> {{getTabTitle('documents')}} </ng-template>
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>