<div class=" flex flex-col gap-1">
  <mat-card>
    <mat-card-content>
      <app-select-license-type [licenseType]="licenseType"
        (licenseTypeChanged)="onLicenseTypeChange($event)"></app-select-license-type>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="licenseType">
    <mat-card-content class="flex flex-col gap-2">
      <app-section-container [title]="'Filters'">
        <app-form-generator [fields]="basicReportsFilters" [formType]="'emit'"
          (onSubmit)="onBasicReportsFormSubmitted($event)" [layout]="'grid'"></app-form-generator>
      </app-section-container>
      <app-loading *ngIf="loading"></app-loading>
      <div class="flex flex-col gap-1">
        <app-pagination [current_page]="currentPage" [total]="totalRows" [limit]="limit" (pageChanged)="setPage($event)"
          (limitChanged)="setLimit($event)"></app-pagination>
        <app-table #table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [rowSelection]="'multiple'"
          [offset]="offset">

          <ng-template fieldTemplate="name" let-column let-data="data">
            {{data["last_name"]}}, {{data["first_name"]}} {{data["middle_name"]}}
          </ng-template>
          <ng-template fieldTemplate="qualification" let-column let-data="data">
            {{data.qualification_at_registration}} ({{data.training_institution}})


            <div *ngFor="let ed of data.qualifications">
              {{ed.qualification}} ({{ed.institution}})
            </div>
          </ng-template>
          <ng-template fieldTemplate="qualification_date" let-column let-data="data">
            {{getYear(data.qualification_date)}}


            <div *ngFor="let ed of data.qualifications">
              {{getYear(ed.end_date)}}
            </div>
          </ng-template>

        </app-table>
      </div>
    </mat-card-content>

  </mat-card>
</div>
