<button mat-stroked-button color="primary" (click)="print()" [disabled]="objects.length  < 1">Print
</button>

<ng-template #printDialog>
  <h2 mat-dialog-title>Select Template</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-select (selectionChange)="onTemplateChange($event)" [(ngModel)]="selectedTemplateId"
        placeholder="Select Template">
        <mat-option *ngFor="let template of templates" [value]="template.uuid">{{template.template_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedTemplateId">
      Available variables: <span class="m-1" *ngFor="let variable of templateVariables">{{variable}}</span>
    </div>
    <div class="flex flex-row gap-2">
      <app-section-container [title]="'To be printed'" class="h-[500px] overflow-auto">
        <mat-list>
          <mat-list-item *ngFor="let object of objects">
            <div mat-line>{{object.name}}</div>
          </mat-list-item>
        </mat-list>
      </app-section-container>
      <app-section-container [title]="'Template'">
        <div class="h-[500px] w-[500px] overflow-auto" [innerHTML]="selectedTemplate?.template_content"></div>
      </app-section-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button [color]="'warn'" mat-dialog-close>Cancel</button>
    <button mat-raised-button [color]="'primary'" (click)="printSelection()">Print</button>
  </mat-dialog-actions>


</ng-template>
