<div id="map" style="height: 600px;"></div>
<div>
  <mat-list>
    <mat-list-item class="flex gap-3">
      <div class="bg-[#0556f7] h-[30px] w-[30px]"></div>>1000
    </mat-list-item>
    <mat-list-item class="flex gap-3">
      <div class="bg-[#4884fa] h-[30px] w-[30px]"></div>>500-999
    </mat-list-item>
    <mat-list-item class="flex gap-3">
      <div class="bg-[#7da7fa] h-[30px] w-[30px]"></div>>200-500
    </mat-list-item>
    <mat-list-item class="flex gap-3">
      <div class="bg-[#abc7ff] h-[30px] w-[30px]"></div>>100-200
    </mat-list-item>
    <mat-list-item class="flex gap-3">
      <div class="bg-[#d9e6ff] h-[30px] w-[30px]"></div>>100>
    </mat-list-item>
  </mat-list>
</div>